<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Patrimonio'">
</app-breadcrumbs>

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-4">{{ pageTitle }}</h1>

        <p class="mb-5">
          Nobis adipisicing placeat dicta, necessitatibus voluptatibus phasellus
          lobortis voluptatem. Ligula? Phasellus nec. Laborum dolorem tempor.
          Occaecati integer mattis cillum repellat quia erat quibusdam cubilia.
          Ultrices vulputate do nullam repellat impedit delectus minim, montes.
          Etiam porttitor excepteur purus dolorem iaculis excepturi hac
          nascetur, expedita natus cursus! Veniam torquent dignissim. Dolore
          magnis. Dolore potenti dolorem morbi consectetur, asperiores purus
          risus inventore saepe cursus ratione? Nibh fuga porro ratione possimus
          commodo proident aliquam tortor, nisl.
        </p>

        <p class="mb-5">
          Nobis adipisicing placeat dicta, necessitatibus voluptatibus phasellus
          lobortis voluptatem. Ligula? Phasellus nec. Laborum dolorem tempor.
          Occaecati integer mattis cillum repellat quia erat quibusdam cubilia.
          Ultrices vulputate do nullam repellat impedit delectus minim, montes.
          Etiam porttitor excepteur purus dolorem iaculis excepturi hac
          nascetur, expedita natus cursus! Veniam torquent dignissim.
        </p>
      </div>
    </div>
  </div>
</section>
