table {
  border-color: #0075bf;
  text-align: center;
}
th {
  font-size: 16px;
}
td {
  padding: 10px 20px;
  font-size: 14px;
}

i {
  font-size: 20px;
}
i.bi-chevron-expand {
  margin-left: 10px;
  cursor: pointer;
  color: #525252;
}
i.bi-chevron-expand:before {
  font-size: 16px;
}
