<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Modifica Appalto'"></app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-12">
            <div class="row d-flex">
              
              <!-- Codice CIG -->
              <div class="col-md-4 mb-3">
                <label for="codiceCIG" class="form-label">Codice CIG*</label>
                <div class="input-group">
                <input type="text" id="codiceCIG" class="form-control" formControlName="codiceCIG" maxlength="10" [ngClass]="{'is-invalid': editForm.get('codiceCIG')?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="editForm.get('codiceCIG')?.invalid && submitted">
                <span *ngIf="editForm.get('codiceCIG')?.hasError('required')">
                  Codice CIG è obbligatorio!
                </span>
                <span *ngIf="editForm.get('codiceCIG')?.hasError('minlength')">
                  Codice CIG deve essere lungo 10 caratteri.!
                </span>
              </div>
            </div>
              <!-- Codice CUP -->
              <div class="col-md-4 mb-3">
                <label for="codiceCUP" class="form-label">Codice CUP*</label>
                <div class="input-group">
                <input type="text" id="codiceCUP" class="form-control" formControlName="codiceCUP" maxlength="15" [ngClass]="{'is-invalid': editForm.get('codiceCUP')?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="editForm.get('codiceCUP')?.invalid && submitted">
                <span *ngIf="editForm.get('codiceCUP')?.hasError('required')">
                  Codice CUP è obbligatorio!
                </span>
                <span *ngIf="editForm.get('codiceCUP')?.hasError('minlength')">
                  Codice CUP deve essere lungo 15 caratteri.!
                </span>
              </div>
            </div>
              <!-- Tipo Appalto --> 
              <div class="col-md-4 mb-3">
                <label class="form-label" for="tipoAppalto"
                  >Tipo Appalto*</label
                >
                <div class="d-flex align-items-center">
                    <div class="input-group select-wrapper w-100">
            
                  <select
                    class="form-control"
                    id="tipoAppalto"
                    name="tipoAppalto"
                    formControlName="tipoAppalto" 
                    [ngClass]="{'is-invalid': editForm.get('tipoAppalto')?.invalid && submitted}"
                  >
                   <!--  <option value="" selected="">
                      Seleziona Tipo Appalto
                    </option> -->
                    <option
                      *ngFor="let tipoAppalto of tipoAppaltoList"
                      [value]="tipoAppalto"
                    >
                      {{ tipoAppalto | capitalize }}
                    </option>
                  </select>
                    </div>
                </div>
                <span class="custom-error" *ngIf="editForm.get('tipoAppalto')?.hasError('required') && submitted">
                  Tipo Appalto è obbligatorio!
                </span>
              </div>

                <!-- Stato -->
                <div class="col-md-4 mb-3">
                  <label class="form-label" for="stato">Stato*</label>
                  <div class="d-flex align-items-center">
                      <div class="input-group select-wrapper w-100">
                  <select
                    class="form-control"
                    id="stato"
                    name="stato"
                    formControlName="stato" 
                    [ngClass]="{'is-invalid': editForm.get('stato')?.invalid && submitted}"
                  >
                   <!--  <option value="" selected="">
                      Seleziona stato
                    </option> -->
                    <option
                      *ngFor="let stato of statoList"
                      [value]="stato"
                    >
                      {{ stato | capitalize }}
                    </option>
                  </select>
                      </div>
                </div>
                <span class="custom-error" *ngIf="editForm.get('stato')?.hasError('required') && submitted">
                  Stato Appalto è obbligatorio!
                </span>
              </div>
  

              <!-- Importo Base Asta -->
              <div class="col-md-4 mb-3">
                <label for="importoBaseAsta" class="form-label">Importo Base Asta</label>
                <div class="input-group">
                <input type="text" id="importoBaseAsta" class="form-control" formControlName="importoBaseAsta" /></div>
              </div>

              <!-- Importo Aggiudicazione -->
              <div class="col-md-4 mb-3">
                <label for="importoAggiudicazione" class="form-label">Importo Aggiudicazione</label>
                <div class="input-group">
                <input type="text" id="importoAggiudicazione" class="form-control" formControlName="importoAggiudicazione" /></div>
              </div>

              <!-- Data Pubblicazione -->

              <div class="col-md-4 mb-3">
                <label class="form-label">Data Pubblicazione*</label>
                
                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="pickerdataPubblicazione"  id="dataPubblicazione" name="dataPubblicazione"
                  formControlName="dataPubblicazione"/>
                  <mat-datepicker-toggle matSuffix [for]="pickerdataPubblicazione"></mat-datepicker-toggle>
                  <mat-datepicker #pickerdataPubblicazione></mat-datepicker>
                </mat-form-field>

                <span class="custom-error" *ngIf="editForm.get('dataPubblicazione')?.hasError('required') && submitted">
                    Data Pubblicazione è obbligatoria!
                 </span>

                <span class="custom-error" *ngIf="editForm.get('dataPubblicazione')?.hasError('matDatepickerParse')
                 && (editForm.get('dataPubblicazione')?.dirty || editForm.get('dataPubblicazione')?.touched)">
                 Inserisci una data valida nel formato gg/mm/aaaa!
                  </span> 
              </div>


              <!-- Data Scadenza -->
              
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Scadenza*</label>
                
                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="pickerdataScadenza"  id="dataScadenza" name="dataScadenza"
                  formControlName="dataScadenza"/>
                  <mat-datepicker-toggle matSuffix [for]="pickerdataScadenza"></mat-datepicker-toggle>
                  <mat-datepicker #pickerdataScadenza></mat-datepicker>
                </mat-form-field>

                <span class="custom-error" *ngIf="editForm.get('dataScadenza')?.hasError('required') && submitted">
                  Data Scadenza è obbligatoria!
                 </span>

                <span class="custom-error" *ngIf="editForm.get('dataScadenza')?.hasError('matDatepickerParse')
                 && (editForm.get('dataScadenza')?.dirty || editForm.get('dataScadenza')?.touched)">
                 Inserisci una data valida nel formato gg/mm/aaaa!
                  </span> 
              </div>

              <!-- Data Aggiudicazione -->

              <div class="col-md-4 mb-3">
                <label class="form-label">Data Aggiudicazione</label>
                
                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="pickerdataAggiudicazione"  id="dataAggiudicazione" name="dataAggiudicazione"
                  formControlName="dataAggiudicazione"/>
                  <mat-datepicker-toggle matSuffix [for]="pickerdataAggiudicazione"></mat-datepicker-toggle>
                  <mat-datepicker #pickerdataAggiudicazione></mat-datepicker>
                </mat-form-field>

              
                <span class="custom-error" *ngIf="editForm.get('dataAggiudicazione')?.hasError('matDatepickerParse')
                 && (editForm.get('dataAggiudicazione')?.dirty || editForm.get('dataAggiudicazione')?.touched)">
                 Inserisci una data valida nel formato gg/mm/aaaa!
                  </span> 
              </div>

              <!-- Impresa -->
                    <div class="col-md-4 mb-3">
                      <label for="impresaAggiudicatariaId" class="form-label">Impresa Aggiudicataria</label>
                      <div class="d-flex align-items-center">
                        <div class="input-group select-wrapper w-100">
                    <select class="form-control" id="impresaAggiudicatariaId" name="impresaAggiudicatariaId" formControlName="impresaAggiudicatariaId"  ><!--  (change)="selectPiano($event)" -->
                      <option [ngValue]="null">Seleziona impresa</option>
                      <option *ngFor="let imprese of impreseList" [value]="imprese.id"  [selected]="imprese.id === editForm.get('impresaAggiudicatariaId')?.value">
                        {{ imprese.ragioneSociale }}
                      </option>
                    </select>
                  </div>
                      </div>
                <!--   <span class="custom-error" *ngIf="pianoref?.errors?.['required'] && (pianoref.dirty || pianoref.touched)">
                      Piano è obbligatorio!
                     </span> -->
                </div>
  
                  <!-- Oggetto -->
                  <div class="col-md-8 mb-3">
                    <label for="oggetto" class="form-label">Oggetto*</label>
                    <div class="input-group">
                    <textarea id="oggetto" class="form-control" formControlName="oggetto" minlength="10" maxlength="500" rows="3" [ngClass]="{'is-invalid': editForm.get('oggetto')?.invalid && submitted}"></textarea></div>
                    <div class="custom-error" *ngIf="editForm.get('oggetto')?.invalid && submitted">
                    <span *ngIf="editForm.get('oggetto')?.hasError('required')">
                      Oggetto è obbligatorio!
                    </span>
                    <span *ngIf="editForm.get('oggetto')?.hasError('minlength')">
                      L'oggetto deve contenere tra 10 e 500 caratteri!
                    </span>
                  </div>
                </div>
            </div>
          </div>

        <!-- Buttons -->
        <div class="col-12 mt-5 d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary py-2" (click)="indietro()">
            <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
            Indietro
          </button>

          <div>
            <button type="button" class="btn btn-outline-primary py-2 me-3" (click)="resetForm()">
              <i class="bi bi-arrow-counterclockwise me-1"></i>
              Reset
            </button>

            <button type="submit" class="btn btn-primary py-2">
              Salva
            </button>
          </div>
        
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
