<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Contratti locazione'">
</app-breadcrumbs>
<section class="erp-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">{{ pageTitle }}</h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover align-middle">
            <caption class="visually-hidden">
              Elenco contratti per la contabilità
            </caption>
            <thead>
              <tr>
                <th scope="col" style=" padding: 10px 20px;">Contratto</th>
                <th scope="col"  class="text-center">Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contrattiList">
                <td data-label="Contratto">{{ transformCodice(item.descrizione) }}</td>
                <td data-label="Azioni" class="text-center">
                     <button class="btn btn-xs btn-primary me-2"
                             [routerLink]="[item.id,'registrazioni']"
                             [attr.aria-label]="'Vedi registrazioni contratto ' + transformCodice(item.descrizione)">
                       Registrazioni
                     </button>
                     <button class="btn btn-xs btn-primary"
                             [routerLink]="[item.id,'situazione-crediti']"
                             [attr.aria-label]="'Vedi situazione crediti contratto ' + transformCodice(item.descrizione)">
                       Situazione Crediti
                     </button>
                   </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</section>
