fieldset {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
legend {
  font-size: 16px;
}
.form-label {
  margin-left: 1rem;
  color: #0075bf;
  font-size: 14px;
}
.input-group {
  border-radius: 3px;
  border: 1px solid #0075bf;
}
.form-control,
.input-group .input-group-text {
  border-bottom: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
.form-control {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.input-group .input-group-text {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-control:disabled {
  color: gray;
}
