<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Nuova Imprese'">
</app-breadcrumbs>
<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form #impresaForm="ngForm" (ngSubmit)="onSubmit(impresaForm)" class="row g-3">
          <div class="col-12">
            <div class="row d-flex">
              <!-- Ragione Sociale -->
              <div class="col-md-4 mb-3">
                <label for="ragioneSociale" class="form-label">Ragione Sociale*</label>
                <div class="input-group">
                  <input type="text" id="ragioneSociale" class="form-control" name="ragioneSociale"
                    [(ngModel)]="impresa.ragioneSociale" required #rgRef="ngModel" />
                </div>

                <span class="custom-error" *ngIf="
                 rgRef.invalid && (rgRef.dirty || rgRef.touched)">
                  Ragione Sociale è obbligatoria!
                </span>
              </div>

              <!-- Partita IVA (Unique) -->
              <div class="col-md-4  mb-3">
                <label for="partitaIva" class="form-label">Partita IVA*</label>
                <div class="input-group">
                  <input type="text" id="partitaIva" class="form-control" name="partitaIva"
                    [(ngModel)]="impresa.partitaIva" maxlength="11" required pattern="^[0-9]{11}$"
                    #partitaIvaRef="ngModel" />
                </div>
                <span class="custom-error" *ngIf="
                partitaIvaRef?.errors?.['required'] && (partitaIvaRef.dirty || partitaIvaRef.touched)">
                  Partita Iva è obbligatoria!
                </span>
                <span class="custom-error" *ngIf="
              partitaIvaRef?.errors?.['pattern'] && (partitaIvaRef.dirty || partitaIvaRef.touched)">
                  Partita Iva non valido!
                </span>
              </div>

              <!-- Codice Fiscale (Unique) -->
              <div class="col-md-4  mb-3">
                <label for="codiceFiscale" class="form-label">Codice Fiscale*</label>
                <div class="input-group">
                  <input type="text" id="codiceFiscale" class="form-control" name="codiceFiscale"
                    [(ngModel)]="impresa.codiceFiscale" required pattern="^[A-Z0-9]{16}$" #cfRef="ngModel" />

                </div>

                <span class="custom-error" *ngIf="
                cfRef?.errors?.['required'] && (cfRef.dirty || cfRef.touched)">
                  Codice Fiscale è obbligatorio!
                </span>

                <span class="custom-error" *ngIf="
              cfRef?.errors?.['pattern'] && (cfRef.dirty || cfRef.touched)">
                  Codice Fiscale non valido!
                </span>

              </div>

              <!-- Indirizzo -->
              <div class="col-md-4  mb-3">
                <label for="indirizzo" class="form-label">Indirizzo</label>
                <div class="input-group">
                  <input type="text" id="indirizzo" class="form-control" name="indirizzo"
                    [(ngModel)]="impresa.indirizzo" />
                </div>
              </div>

              <!-- Città -->
              <div class="col-md-4  mb-3">
                <label for="citta" class="form-label">Città</label>
                <div class="input-group">
                  <input type="text" id="citta" class="form-control" name="citta" [(ngModel)]="impresa.citta" />
                </div>
              </div>

              <!-- Provincia -->
              <div class="col-md-4  mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <div class="input-group">
                  <input type="text" id="provincia" class="form-control" name="provincia"
                    [(ngModel)]="impresa.provincia" />
                </div>
              </div>

              <!-- CAP -->
              <div class="col-md-4  mb-3">
                <label for="cap" class="form-label">CAP</label>
                <div class="input-group">
                  <input type="text" id="cap" class="form-control" name="cap" [(ngModel)]="impresa.cap"
                    pattern="^[0-9]{5}$" maxlength="5" #capRef="ngModel" />
                </div>
                <span class="custom-error" *ngIf="
                capRef?.errors?.['pattern'] && (capRef.dirty || cfRef.touched)">
                  CAP non valido!
                </span>

              </div>

              <!-- Telefono -->
              <div class="col-md-4  mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <div class="input-group">
                  <input type="tel" id="telefono" class="form-control" name="telefono" [(ngModel)]="impresa.telefono"
                    pattern="^[0-9]+$" #telRef="ngModel" />
                </div>
                <span class="custom-error" *ngIf="
                telRef?.errors?.['pattern'] && (telRef.dirty || telRef.touched)">
                  Telefono non valido!
                </span>

              </div>

              <!-- Email -->
              <div class="col-md-4  mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                  <input type="text" id="email" class="form-control" name="email" [(ngModel)]="impresa.email" [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
                " #emailRef="ngModel" />
                </div>
                <span class="custom-error" *ngIf="
                emailRef?.errors?.['pattern'] && (emailRef.dirty || emailRef.touched)">
                  Email non valido!
                </span>
              </div>

              <!-- PEC -->
              <div class="col-md-4  mb-3">
                <label for="pec" class="form-label">PEC*</label>
                <div class="input-group">
                  <input type="email" id="pec" class="form-control" name="pec" [(ngModel)]="impresa.pec"
                    #pecRef="ngModel" required /><!-- [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.pec\.(it|eu|com)$'" -->

                </div>

                <span class="custom-error" *ngIf="
                  pecRef?.errors?.['required'] && (pecRef.dirty || pecRef.touched)">

                  PEC è obbligatoria!
                </span>

          <!--                  <span
              class="custom-error"
              *ngIf="
              pecRef?.errors?.['pattern'] && (pecRef.dirty || pecRef.touched)"
            >
              PEC non valido!
            </span>  --> 
              </div>
            </div>
          </div>
          <!-- buttons -->
          <div class="col-12 mt-5 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary py-2" (click)="indietro()">
              <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
              Indietro
            </button>

            <div>
              <button type="button" class="btn btn-outline-primary py-2 me-3" (click)="resetForm(impresaForm)">
                <i class="bi bi-x-circle me-1"></i>
                Annulla
              </button>

              <button type="submit" class="btn btn-primary py-2" [disabled]="impresaForm.invalid">
                Aggiungi
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<!-- <hr />
<h3>Dati Impresa Inseriti:</h3>
<pre>{{ impresa | json }}</pre> -->