<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Nuova Imprese'">
</app-breadcrumbs>
<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form #impresaForm="ngForm" (ngSubmit)="onSubmit(impresaForm)" class="row g-3">
          <div class="col-12">
            <div class="row d-flex">
              <!-- Ragione Sociale -->
              <div class="col-md-4 mb-3">
                <label for="ragioneSociale" class="form-label">Ragione Sociale*</label>
                <div class="input-group">
                  <input type="text" id="ragioneSociale" class="form-control" name="ragioneSociale"
                    [(ngModel)]="impresa.ragioneSociale" required #rgRef="ngModel"  [ngClass]="{'is-invalid': rgRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                rgRef.invalid && submitted">
                <span *ngIf="
                rgRef?.errors?.['required']">
                  Ragione Sociale è obbligatoria!
                </span>
              </div>
              </div>

              <!-- Partita IVA (Unique) -->
              <div class="col-md-4  mb-3">
                <label for="partitaIva" class="form-label">Partita IVA*</label>
                <div class="input-group">
                  <input type="text" id="partitaIva" class="form-control" name="partitaIva"
                    [(ngModel)]="impresa.partitaIva" maxlength="11" required pattern="^[0-9]{11}$"
                    #partitaIvaRef="ngModel"  [ngClass]="{'is-invalid': partitaIvaRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                partitaIvaRef.invalid && submitted">
                <span *ngIf="
                partitaIvaRef?.errors?.['required']">
                  Partita Iva è obbligatoria!
                </span>
                <span *ngIf="
                 partitaIvaRef?.errors?.['pattern']">
                  Partita Iva non valido!
                </span>
              </div>
              </div>

              <!-- Codice Fiscale (Unique) -->
              <div class="col-md-4  mb-3">
                <label for="codiceFiscale" class="form-label">Codice Fiscale*</label>
                <div class="input-group">
                  <input type="text" id="codiceFiscale" class="form-control" name="codiceFiscale"
                    [(ngModel)]="impresa.codiceFiscale" required pattern="^[A-Z0-9]{16}$" #cfRef="ngModel"   [ngClass]="{'is-invalid': cfRef?.invalid && submitted}"/>

                </div>
                <div class="custom-error" *ngIf="
                cfRef.invalid && submitted">
                <span *ngIf="
                cfRef?.errors?.['required']">
                  Codice Fiscale è obbligatorio!
                </span>

                <span *ngIf="
              cfRef?.errors?.['pattern']">
                  Codice Fiscale non valido!
                </span>
                </div>
              </div>

              <!-- Indirizzo -->
              <div class="col-md-4  mb-3">
                <label for="indirizzo" class="form-label">Indirizzo</label>
                <div class="input-group">
                  <input type="text" id="indirizzo" class="form-control" name="indirizzo"
                    [(ngModel)]="impresa.indirizzo" />
                </div>
              </div>

              <!-- Città -->
              <div class="col-md-4  mb-3">
                <label for="citta" class="form-label">Città</label>
                <div class="input-group">
                  <input type="text" id="citta" class="form-control" name="citta" [(ngModel)]="impresa.citta" />
                </div>
              </div>

              <!-- Provincia -->
 <!--              <div class="col-md-4  mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <div class="input-group">
                  <input type="text" id="provincia" class="form-control" name="provincia"
                    [(ngModel)]="impresa.provincia" pattern="^[A-Z]{2}$" maxlength="2" #provinciaRef="ngModel"/>
                </div>
                <span class="custom-error" *ngIf="
                provinciaRef?.errors?.['pattern'] && (provinciaRef.dirty || provinciaRef.touched)">
                  Provincia must be 2 characters!
                </span>

              </div> -->

              <div class="col-md-4 mb-3">
                <label class="form-label" for="provincia">Provincia</label>
                <div class="d-flex align-items-center">
                    <div class="input-group select-wrapper w-100">
                  <select class="form-control" id="provincia" name="provincia"
                  [(ngModel)]="impresa.provincia" #provinciaRef="ngModel">
                    <option value="" selected="">
                      Seleziona Provincia
                    </option>
                    <option *ngFor="let provincia of provinces" [value]="provincia.sigla">
                      {{ provincia.nome }}
                    </option>
                  </select>
                    </div>
                </div>
              </div>

              <!-- CAP -->
              <div class="col-md-4  mb-3">
                <label for="cap" class="form-label">CAP</label>
                <div class="input-group">
                  <input type="text" id="cap" class="form-control" name="cap" [(ngModel)]="impresa.cap"
                    pattern="^[0-9]{5}$" maxlength="5" #capRef="ngModel"  [ngClass]="{'is-invalid': capRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                capRef.invalid && submitted">
                <span *ngIf="
                capRef?.errors?.['pattern']">
                  CAP non valido!
                </span>
                </div>
              </div>

              <!-- Telefono -->
              <div class="col-md-4  mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <div class="input-group">
                  <input type="tel" id="telefono" class="form-control" name="telefono" [(ngModel)]="impresa.telefono"
                    pattern="^[0-9]+$" #telRef="ngModel"  [ngClass]="{'is-invalid': telRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                telRef.invalid && submitted">
                <span *ngIf="
                telRef?.errors?.['pattern']">
                  Telefono non valido!
                </span>
                </div>
              </div>

              <!-- Email -->
              <div class="col-md-4  mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                  <input type="text" id="email" class="form-control" name="email" [(ngModel)]="impresa.email" [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
                " #emailRef="ngModel"  [ngClass]="{'is-invalid': emailRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                emailRef.invalid && submitted">
                <span *ngIf="
                emailRef?.errors?.['pattern']">
                  Email non valido!
                </span>
              </div>
              </div>
              <!-- PEC -->
              <div class="col-md-4  mb-3">
                <label for="pec" class="form-label">PEC*</label>
                <div class="input-group">
                  <input type="email" id="pec" class="form-control" name="pec" [(ngModel)]="impresa.pec"
                    #pecRef="ngModel" required [pattern]="'^[a-zA-Z0-9._%+-]+@pec\\.it$'" [ngClass]="{'is-invalid': pecRef?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="
                pecRef.invalid && submitted">
                <span *ngIf="
                  pecRef?.errors?.['required']">

                  PEC è obbligatoria!
                </span>
                <span
             
                *ngIf="
                pecRef?.errors?.['pattern']"
              >
              PEC non valido! (es. nome.cognome@pec.it)
              </span>  
                </div>

              </div>
            </div>
          </div>
          <!-- buttons -->
          <div class="col-12 mt-5 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary py-2" (click)="indietro()">
              <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
              Indietro
            </button>

            <div>
              <button type="button" class="btn btn-outline-primary py-2 me-3" (click)="resetForm(impresaForm)">
                <i class="bi bi-x-circle me-1"></i>
                Annulla
              </button>

              <button type="submit" class="btn btn-primary py-2">
                Salva
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<!-- <hr />
<h3>Dati Impresa Inseriti:</h3>
<pre>{{ impresa | json }}</pre> -->