<section class="pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-5">Dettagli Solleciti</h1>
  
          <form class="row g-3">
            <div class="row mb-4">
              <h3 class="mb-3">Dettagli Sollecito</h3>
              <div class="col-md-4 mb-3">
                <label class="form-label">ID Sollecito</label>
                <input type="text" class="form-control" value="21" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Invio</label>
                <input type="text" class="form-control" value="2024-03-20" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Scadenza</label>
                <input type="text" class="form-control" value="2024-04-20" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Tipo Sollecito</label>
                <input type="text" class="form-control" value="BONARIO" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Esito Invio</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Risposta</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Esito Risposta</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
            </div>
  
            <div class="row mb-4">
              <h3 class="mb-3">Costi</h3>
              <div class="col-md-4 mb-3">
                <label class="form-label">Costo Sollecito</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Costo Notifica</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Costo Legale</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
  
              <div class="col-md-12 mb-3">
                <label class="form-label">Dettaglio Costi</label>
                <textarea class="form-control" disabled></textarea>
              </div>
            </div>
  
            <div class="row mb-4">
              <h3 class="mb-3">Note</h3>
              <div class="col-md-12 mb-3">
                <label class="form-label">Note</label>
                <textarea class="form-control" disabled>Prima comunicazione</textarea>
              </div>
  
              <div class="col-md-4 mb-3">
                <label class="form-label">Numero Protocollo</label>
                <input type="text" class="form-control" value="" disabled>
              </div>
            </div>
  
            <div class="col-12 mt-5">
              <button type="button" class="btn btn-outline-primary" (click)="indietro()">
                <i class="bi bi-arrow-left me-1"></i>
                Indietro
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>