<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Modifica Piano'"></app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form [formGroup]="editForm"  (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-12">
            <div class="row d-flex">

              <!-- Anno -->
              <div class="col-md-4 mb-3">
                <label for="anno" class="form-label">Anno*</label>
                <div class="input-group">
                <input type="text" id="anno" class="form-control" formControlName="anno" [ngClass]="{'is-invalid': editForm.get('anno')?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="editForm.get('anno')?.invalid && submitted">
                <span *ngIf="editForm.get('anno')?.hasError('required')">
                  Anno è obbligatorio!
                </span>
                <span *ngIf="editForm.get('anno')?.hasError('pattern')">
                  Inserisci un anno valido (es. 2024)!
                </span>
              </div>
            </div>
              <!-- Descrizione -->
              <div class="col-md-4 mb-3">
                <label for="descrizione" class="form-label">Descrizione*</label>
                <div class="input-group">
                <input type="text" id="descrizione" class="form-control" formControlName="descrizione"  [ngClass]="{'is-invalid': editForm.get('descrizione')?.invalid && submitted}"/>
                </div>
                <span class="custom-error" *ngIf="editForm.get('descrizione')?.hasError('required') && submitted">
                  Descrizione è obbligatorio!
                </span>
              </div>

              <!-- Budget Totale -->
              <div class="col-md-4 mb-3">
                <label for="budgetTotale" class="form-label">Budget Totale*</label>
                <div class="input-group">
                <input type="text" id="budgetTotale" class="form-control" formControlName="budgetTotale"  [ngClass]="{'is-invalid': editForm.get('budgetTotale')?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="editForm.get('budgetTotale')?.invalid  && submitted">
                <span *ngIf="editForm.get('budgetTotale')?.hasError('required')">
                  Budget Totale è obbligatorio!
                </span>
                <span *ngIf="editForm.get('budgetTotale')?.hasError('pattern')">
                  Inserisci un budget valido!
                </span>
              </div>
            </div>
              <!-- Budget Utilizzato -->
              <div class="col-md-4 mb-3">
                <label for="budgetUtilizzato" class="form-label">Budget Utilizzato*</label>
                <div class="input-group">
                <input type="text" id="budgetUtilizzato" class="form-control" formControlName="budgetUtilizzato"  [ngClass]="{'is-invalid': editForm.get('budgetUtilizzato')?.invalid && submitted}"/>
                </div>
                <div  class="custom-error" *ngIf="editForm.get('budgetUtilizzato')?.invalid && submitted">
                <span *ngIf="editForm.get('budgetUtilizzato')?.hasError('required')">
                  Budget Utilizzato è obbligatorio!
                </span>
                <span class="custom-error" *ngIf="editForm.get('budgetUtilizzato')?.hasError('pattern')">
                  Inserisci un budget valido!
                </span>
              </div>
            </div>
              <!-- Budget Residuo -->
              <div class="col-md-4 mb-3">
                <label for="budgetResiduo" class="form-label">Budget Residuo*</label>
                <div class="input-group">
                <input type="text" id="budgetResiduo" class="form-control" formControlName="budgetResiduo"  [ngClass]="{'is-invalid': editForm.get('budgetResiduo')?.invalid && submitted}"/>
                </div>
                <div class="custom-error" *ngIf="editForm.get('budgetResiduo')?.invalid && submitted">
                <span *ngIf="editForm.get('budgetResiduo')?.hasError('required')">
                  Budget Residuo è obbligatorio!
                </span>
                <span *ngIf="editForm.get('budgetResiduo')?.hasError('pattern')">
                  Inserisci un budget valido!
                </span>
              </div>
            </div>
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Approvazione</label>
                
                <mat-form-field appearance="fill" style="width: 100%" *ngIf="!piano.dataApprovazione">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="dataApprovazione"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="input-group" *ngIf="piano.dataApprovazione">
                    <input type="text" id="dataApprovazione" class="form-control" formControlName="dataApprovazione"/>
                    </div>

                <div
                  class="custom-error"
                  *ngIf="
                    editForm
                      .get('dataApprovazione')?.invalid &&
                    (editForm.get('dataApprovazione')?.touched
                      )
                  "
                >
                Inserisci una data valida nel formato gg/mm/aaaa!
                </div>
      
              </div>
              <!-- Note -->
              <div class="col-md-12 mb-3">
                <label for="note" class="form-label">Note</label>
                <div class="input-group">
                <textarea 
                id="note"
                class="form-control" 
                formControlName="note" 
                rows="3"
              ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5 d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary py-2"
              (click)="indietro()"
            >
              <i
                class="bi bi-arrow-left me-1"
                style="vertical-align: middle"
              ></i>
              Indietro
            </button>

            <div>
              <button
                type="button"
                class="btn btn-outline-primary py-2 me-3"
                (click)="resetForm()"
              >
                <i class="bi bi-arrow-counterclockwise me-1"></i>
                Annulla
              </button>

              <button type="submit" class="btn btn-primary py-2">
                Salva
              </button>
            </div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
