<div class="container-fluid">
  <div class="py-4">
    <h1 id="main-content">{{ pageTitle }}</h1>
  </div>


  <ul class="nav nav-tabs mb-4">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" 
         [routerLink]="tab.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">
        {{ tab.label }}
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>