.nav-tabs {
  border-bottom-width: 2px;
}

.nav-tabs .nav-link {
  border-bottom: 2px solid transparent;
  padding: 12px 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  color: #0075bf;
  border-bottom: 2px solid #0075bf;
}

.tab-content {
  padding-top: 20px;
}
