<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Registrazioni Contabile'">
</app-breadcrumbs>
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-4">{{ pageTitle }}</h1>
        <!-- Filter -->
        <div class="col-12 mb-5">
          <div class="col-12 mb-5">
            <form class="row g-3">

              <div class="col-md-3">
                <label class="form-label" for="dataInizio">Data Inizio</label>

                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="picker" id="dataInizio" name="dataInizio"
                    [(ngModel)]="searchDataInizioParam" [max]="searchDataFineParam" (keydown.enter)="getFilteredData()" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


              </div>
              <div class="col-md-3">
                <label class="form-label" for="cognome">Data Fine</label>

                <mat-form-field appearance="fill" style="width: 100%">
                  <input matInput [matDatepicker]="pickerDataFine"  id="dataFine" name="dataFine"
                  [(ngModel)]="searchDataFineParam" (keydown.enter)="getFilteredData()" [min]="searchDataInizioParam"/>
                  <mat-datepicker-toggle matSuffix [for]="pickerDataFine"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDataFine></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <label class="form-label" for="tipo"
                  >Tipo registrazione</label
                >
                <div class="d-flex align-items-center">
                  <div class="input-group select-wrapper w-100">
          
                  <select
                    class="form-control"
                    id="tipo"
                    name="tipo"
                    [(ngModel)]="searchTipoParam"
                  >
                    <option value="" selected="">
                      Seleziona tipo
                    </option>
                    <option
                      *ngFor="let tipo of tipoOptions"
                      [value]="tipo"
                    >
                      {{ tipo | capitalize }}
                    </option>
                  </select>
                  </div>
                </div>
              </div>
  

  
              <div class="col-md-3 search-form-buttons d-flex align-items-end">
                <button
                  type="button"
                  class="btn btn-primary me-3"
                  (click)="getFilteredData()"
                  [disabled]="(!searchDataInizioParam || !searchDataFineParam)"
                >
                  Cerca
                </button>
  
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="cancellaCerca()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>

          <!-- Aggiungi  btn -->
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary btn-icon btn-xs mb-3 me-2" [routerLink]="['nuova-registrazione']">
              <svg class="icon icon-white me-1">
                <use href="assets/svg/sprites.svg#it-plus-circle"></use>
              </svg>
              <span>Registra Mese da Pagare</span>
            </button>
            <button class="btn btn-primary btn-icon btn-xs mb-3" [routerLink]="['nuova-registrazione-pagamento']">
              <svg class="icon icon-white me-1">
                <use href="assets/svg/sprites.svg#it-plus-circle"></use>
              </svg>
              <span>Registra Pagamento</span>
            </button>
          </div>
        </div>
        <div class="alert alert-primary" role="alert"  *ngIf="!registrazioni.length">
          Nessuna registrazione presente!
        </div>
        <div class="table-responsive" *ngIf="registrazioni.length">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Azioni</th>
             <!--    <th scope="col">Contratto</th> -->
                <th scope="col">Descrizione</th>
                <th scope="col">Data Registrazione</th>
                <th scope="col">Data Competenza</th>
                <th scope="col">Numero Protocollo</th>
                <th scope="col">Tipo</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registrazioniItem of registrazioni">
                <td scope="row">

                  <a [routerLink]="[registrazioniItem.id,'visualizza-registrazione']" title="Vedi dettagli"
                    class="text-decoration-none me-3">
                    <i class="bi bi-eye-fill align-middle"></i>
                  </a>

                  <a [routerLink]="[registrazioniItem.id,'modifica-registrazione']" title="Modifica"
                    class="text-decoration-none me-3">
                    <i class="bi bi-pencil align-middle"></i>
                  </a>
                  <a title="Cancella" class="text-decoration-none me-3" style="cursor: pointer; color: #0052a3" (click)="deleteModal(registrazioniItem)" >
                    <i class="bi bi-trash3 align-middle"></i>
                  </a>

                </td>
          <!--       <td scope="row"> <span matTooltip="{{
                            getContrattiDescrizione(registrazioniItem.contrattoId)
                        }}" style="cursor: pointer">
                    {{
                    getContrattiDescrizione(registrazioniItem.contrattoId)
                    | slice : 0 : 30
                    }}...
                  </span></td> -->
                <td scope="row">{{ registrazioniItem.descrizione }}</td>
                <td scope="row">
                  {{registrazioniItem.dataRegistrazione | date: 'dd/MM/yyyy'}}
                </td>
                <td scope="row">{{ registrazioniItem.dataCompetenza | date: 'dd/MM/yyyy'}}</td>
                <td scope="row">{{ registrazioniItem.numeroProtocollo }}</td>
                <td scope="row">{{ registrazioniItem.tipo | capitalize}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</section>

<div
  class="modal fade"
  id="deleteRegistrazioneModal"
  tabindex="-1"
  aria-labelledby="deleteRegistrazioneModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header p-0" style="margin-left: 24px">
        <h1 class="modal-title fs-5" id="deleteRegistrazioneModalLabel">Elimina Registrazione</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Sei sicuro di voler eliminare registrazione con descrizione: <b>{{ registerDescrizione }}</b
          >?
        </p>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-target="#deleteRegistrazioneModal2"
          data-bs-toggle="modal"
          (click)="deleteRegistrazione()"
        >
          Sì
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>