<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Anagrafica'">
</app-breadcrumbs>

<section class="erp-page">
  <div class="container">
    <div class="erp-page-head">
      <h1 id="main-content">{{ pageTitle }}</h1>
      <button
        class="btn btn-primary"
        [routerLink]="['nuova-anagrafica']"
      >
        <svg class="icon icon-white" aria-hidden="true">
          <use href="assets/svg/sprites.svg#it-plus-circle"></use>
        </svg>
        <span>Aggiungi anagrafica</span>
      </button>
    </div>

    <!-- Filter -->
    <form class="erp-panel erp-filter-form row g-3">
      <div class="col-12 col-sm-6 col-lg-3">
        <label class="form-label" for="nome">Nome</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            [(ngModel)]="anagraficaSearchParams.nome"
            (keyup.enter)="getFilteredData(0)"
          />
          <span class="input-group-text" aria-hidden="true">
            <i class="bi bi-person"></i>
          </span>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <label class="form-label" for="cognome">Cognome</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="cognome"
            name="cognome"
            [(ngModel)]="anagraficaSearchParams.cognome"
            (keyup.enter)="getFilteredData(0)"
          />
          <span class="input-group-text" aria-hidden="true">
            <i class="bi bi-person"></i>
          </span>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <label class="form-label" for="codiceFiscale">Codice fiscale</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="codiceFiscale"
            name="codiceFiscale"
            [(ngModel)]="anagraficaSearchParams.codiceFiscale"
            (keyup.enter)="getFilteredData(0)"
          />
          <span class="input-group-text" aria-hidden="true">
            <i class="bi bi-ticket-detailed"></i>
          </span>
        </div>
      </div>

      <div class="col-12 col-lg-3 search-form-buttons d-flex align-items-end">
        <button
          type="button"
          class="btn btn-primary me-2 flex-grow-1 flex-lg-grow-0"
          (click)="getFilteredData(0)"
        >
          <i class="bi bi-search" aria-hidden="true"></i>
          <span>Cerca</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary flex-grow-1 flex-lg-grow-0"
          (click)="cancellaCerca()"
        >
          Reset
        </button>
      </div>
    </form>

    <!-- Table - all Anagrafica -->
    <div class="table-responsive">
      <table class="table table-striped table-hover erp-table--card align-middle">
        <thead>
          <tr>
            <th scope="col">Azioni</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Codice fiscale</th>
            <th scope="col">Genere</th>
            <th scope="col">Cittadinanza</th>
            <th scope="col">Data di nascita</th>
            <th scope="col">Documenti</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let anagraficaItem of anagraficaList">
            <td data-label="Azioni" class="actions-cell">
              <a
                [routerLink]="['anagrafica-dettagli', anagraficaItem.id]"
                title="Vedi dettagli"
              >
                <i class="bi bi-eye-fill"></i>
              </a>

              <a
                [routerLink]="['modifica-anagrafica', anagraficaItem.id]"
                title="Modifica"
              >
                <i class="bi bi-pencil"></i>
              </a>

              <a
                (click)="deleteAnagraficaModal(anagraficaItem)"
                title="Cancella"
                class="action-link action-link--danger"
                style="cursor: pointer"
              >
                <i class="bi bi-trash3"></i>
              </a>
            </td>

            <td data-label="Nome">{{ anagraficaItem.cittadino.nome }}</td>
            <td data-label="Cognome">{{ anagraficaItem.cittadino.cognome }}</td>
            <td data-label="Codice fiscale">
              {{ anagraficaItem.cittadino.codiceFiscale }}
            </td>
            <td data-label="Genere">{{ anagraficaItem.cittadino.genere }}</td>
            <td data-label="Cittadinanza">
              {{ anagraficaItem.cittadino.cittadinanza }}
            </td>
            <td data-label="Data di nascita">
              {{
                anagraficaItem.cittadino.dataDiNascita | date : "dd/MM/yyyy"
              }}
            </td>
            <td data-label="Documenti">
              <a
                href="javascript:void(0)"
                (click)="showDownloadModal(anagraficaItem.id)"
                title="Download"
              >
                <i class="bi bi-download"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- paginator -->
    <mat-paginator
      #paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteAnagraficaModal"
  tabindex="-1"
  aria-labelledby="deleteAnagraficaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header p-0 border-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p>
          Sei sicuro di voler eliminare l'anagrafica per
          <b>{{ anagraficaMainIdentificationData }}</b
          >?
        </p>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="deleteAnagrafica()"
        >
          Sì
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteAnagraficaModalAfter"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-body text-center">
        <p>
          Anagrafica per
          <b>{{ anagraficaMainIdentificationData }}</b> eliminata!
        </p>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="downloadModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Scegli il tipo di documento che vuoi scaricare
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="form-check"
          *ngFor="let doc of currentAnagrafica?.cittadino?.documenti_identita"
        >
          <input
            name="downloadFormat"
            type="radio"
            [id]="'doc' + doc.id"
            [value]="doc.tipo_documento"
            class="form-check-input"
            [(ngModel)]="selectedDocumentType"
          />
          <label class="form-check-label" [for]="'doc' + doc.id">
            {{ doc.tipo_documento }}
          </label>
        </div>
        <div
          *ngIf="!currentAnagrafica?.cittadino?.documenti_identita?.length"
          class="alert alert-info"
        >
          Nessun documento disponibile per il download.
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!selectedDocumentType"
          (click)="downloadDocument()"
        >
          Download
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annulla
        </button>
      </div>
    </div>
  </div>
</div>
