<app-breadcrumbs
  [crumbsList]="breadcrumbList"
  [currentPage]="'Modifica Unità Immobiliare'"
>
</app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form
          [formGroup]="modificaForm"
          (ngSubmit)="onSubmit()"
          class="row g-3"
        >
          <div class="col-12">
            <div class="row d-flex">
              <!-- metriQuadri -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="metriQuadri"
                  >Metri quadri *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="metriQuadri"
                    name="metriQuadri"
                    formControlName="metriQuadri"
                  />
                </div>

                <span
                  class="custom-error"
                  *ngIf="modificaForm.get('metriQuadri')?.invalid && submitted"
                >
                  <span
                    *ngIf="modificaForm.get('metriQuadri')?.errors?.['required']"
                  >
                    Metri quadri è obbligatorio!
                  </span>
                  <span
                    *ngIf="modificaForm.get('metriQuadri')?.errors?.['pattern']"
                  >
                    Inserisca un numero in virgola mobile valido.
                  </span>
                </span>
              </div>

              <!-- quartiere -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="quartiere">Quartiere *</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="quartiere"
                    name="quartiere"
                    formControlName="quartiere"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm.get('quartiere')?.hasError('required') &&
                    submitted
                  "
                >
                  Quartiere è obbligatorio!
                </span>
              </div>

              <!-- tipoAmministrazione -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="tipoAmministrazione"
                  >Tipo amministrazione *</label
                >
                <div class="input-group">
                  <select
                    class="form-control"
                    id="tipoAmministrazione"
                    name="tipoAmministrazione"
                    formControlName="tipoAmministrazione"
                  >
                    <option value="" disabled>
                      Seleziona un tipo di amministrazione
                    </option>
                    <option
                      *ngFor="
                        let tipoAmministrazione of tipoAmministrazioneList
                      "
                      [value]="tipoAmministrazione"
                    >
                      {{ tipoAmministrazione | capitalize }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm
                      .get('tipoAmministrazione')
                      ?.hasError('required') && submitted
                  "
                >
                  Tipo amministrazione è obbligatorio!
                </span>
              </div>

              <!-- statoDisponibilita -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="statoDisponibilita"
                  >Stato disponibilità *</label
                >
                <div class="input-group">
                  <select
                    class="form-control"
                    id="statoDisponibilita"
                    name="statoDisponibilita"
                    formControlName="statoDisponibilita"
                  >
                    <option value="" disabled>
                      Seleziona uno stato di disponibilità
                    </option>
                    <option
                      *ngFor="let statoDisponibilita of statoDisponibilitaList"
                      [value]="statoDisponibilita"
                    >
                      {{ statoDisponibilita | capitalize }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm
                      .get('statoDisponibilita')
                      ?.hasError('required') && submitted
                  "
                >
                  Stato disponibilità è obbligatorio!
                </span>
              </div>

              <!-- provincia -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="provincia">Provincia *</label>
                <div class="input-group">
                  <select
                    class="form-control"
                    id="provincia"
                    name="provincia"
                    formControlName="provincia"
                  >
                    <option value="" disabled>Seleziona una provincia</option>
                    <option
                      *ngFor="let provincia of provinces"
                      [value]="provincia.sigla"
                    >
                      {{ provincia.nome }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm.get('provincia')?.hasError('required') &&
                      submitted) ||
                    (modificaForm.get('provincia')?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="modificaForm.get('provincia')?.hasError('required')"
                  >
                    Provincia è obbligatoria!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="modificaForm.get('provincia')?.hasError('maxlength')"
                  >
                    Provincia non può avere più di 2 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- comune -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="comune">Comune *</label>
                <div class="input-group">
                  <select
                    class="form-control"
                    id="comune"
                    name="comune"
                    formControlName="comune"
                  >
                    <option value="" disabled>Seleziona un comune</option>
                    <option
                      *ngFor="let comune of filteredComuni"
                      [value]="comune.nome"
                    >
                      {{ comune.nome }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm.get('comune')?.hasError('required') &&
                    submitted
                  "
                >
                  Comune è obbligatorio!
                </span>
              </div>

              <!-- indirizzo -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="indirizzo">Indirizzo *</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="indirizzo"
                    name="indirizzo"
                    formControlName="indirizzo"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm.get('indirizzo')?.hasError('required') &&
                    submitted
                  "
                >
                  Indirizzo è obbligatorio!
                </span>
              </div>

              <!-- sezioneUrbana -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="sezioneUrbana"
                  >Sezione urbana *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="sezioneUrbana"
                    name="sezioneUrbana"
                    formControlName="sezioneUrbana"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm.get('sezioneUrbana')?.hasError('required') &&
                      submitted) ||
                    (modificaForm.get('sezioneUrbana')?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="
                      modificaForm.get('sezioneUrbana')?.hasError('required')
                    "
                  >
                    Sezione urbana è obbligatoria!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="
                      modificaForm.get('sezioneUrbana')?.hasError('maxlength')
                    "
                  >
                    Sezione urbana non può avere più di 3 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- foglio -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="foglio">Foglio *</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="foglio"
                    name="foglio"
                    formControlName="foglio"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm.get('foglio')?.hasError('required') &&
                      submitted) ||
                    (modificaForm.get('foglio')?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="modificaForm.get('foglio')?.hasError('required')"
                  >
                    Foglio è obbligatorio!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="modificaForm.get('foglio')?.hasError('maxlength')"
                  >
                    Foglio non può avere più di 4 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- particella -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="particella">Particella *</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="particella"
                    name="particella"
                    formControlName="particella"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm.get('particella')?.hasError('required') &&
                      submitted) ||
                    (modificaForm.get('particella')?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="modificaForm.get('particella')?.hasError('required')"
                  >
                    Particella è obbligatoria!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="
                      modificaForm.get('particella')?.hasError('maxlength')
                    "
                  >
                    Particella non può avere più di 5 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- categoriaCatastale -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="categoriaCatastale"
                  >Categoria catastale *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="categoriaCatastale"
                    name="categoriaCatastale"
                    formControlName="categoriaCatastale"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm
                      .get('categoriaCatastale')
                      ?.hasError('required') &&
                      submitted) ||
                    (modificaForm
                      .get('categoriaCatastale')
                      ?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="
                      modificaForm
                        .get('categoriaCatastale')
                        ?.hasError('required')
                    "
                  >
                    Categoria catastale è obbligatoria!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="
                      modificaForm
                        .get('categoriaCatastale')
                        ?.hasError('maxlength')
                    "
                  >
                    Categoria catastale non può avere più di 3 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- classeCatastale -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="classeCatastale"
                  >Classe catastale *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="classeCatastale"
                    name="classeCatastale"
                    formControlName="classeCatastale"
                  />
                </div>
                <span
                  class="custom-error"
                  *ngIf="
                    (modificaForm
                      .get('classeCatastale')
                      ?.hasError('required') &&
                      submitted) ||
                    (modificaForm
                      .get('classeCatastale')
                      ?.hasError('maxlength') &&
                      submitted)
                  "
                >
                  <!-- Display error for required field -->
                  <ng-container
                    *ngIf="
                      modificaForm.get('classeCatastale')?.hasError('required')
                    "
                  >
                    Classe catastale è obbligatoria!
                  </ng-container>

                  <!-- Display error for max length exceeded -->
                  <ng-container
                    *ngIf="
                      modificaForm.get('classeCatastale')?.hasError('maxlength')
                    "
                  >
                    Classe catastale non può avere più di 2 caratteri!
                  </ng-container>
                </span>
              </div>

              <!-- renditaCatastale -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="renditaCatastale"
                  >Rendita catastale *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="renditaCatastale"
                    name="renditaCatastale"
                    formControlName="renditaCatastale"
                  />
                </div>

                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm.get('renditaCatastale')?.invalid && submitted
                  "
                >
                  <span
                    *ngIf="modificaForm.get('renditaCatastale')?.errors?.['required']"
                  >
                    Rendita catastale è obbligatoria!
                  </span>
                  <span
                    *ngIf="modificaForm.get('renditaCatastale')?.errors?.['pattern']"
                  >
                    Inserisca un numero in virgola mobile valido.
                  </span>
                </span>
              </div>

              <!-- consistenzaCatastale -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="consistenzaCatastale"
                  >Consistenza catastale *</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="consistenzaCatastale"
                    name="consistenzaCatastale"
                    formControlName="consistenzaCatastale"
                  />
                </div>

                <span
                  class="custom-error"
                  *ngIf="
                    modificaForm.get('consistenzaCatastale')?.invalid &&
                    submitted
                  "
                >
                  <span
                    *ngIf="modificaForm.get('consistenzaCatastale')?.errors?.['required']"
                  >
                    Consistenza catastale è obbligatoria!
                  </span>
                  <span
                    *ngIf="modificaForm.get('consistenzaCatastale')?.errors?.['pattern']"
                  >
                    Inserisca un numero in virgola mobile valido.
                  </span>
                </span>
              </div>

              <!-- zona -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="zona">Zona</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="zona"
                    name="zona"
                    formControlName="zona"
                  />
                </div>
              </div>

              <!-- classeEnergetica -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="classeEnergetica"
                  >Classe energetica</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="classeEnergetica"
                    name="classeEnergetica"
                    formControlName="classeEnergetica"
                  />
                </div>
              </div>

              <!-- descrizione -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="descrizione">Descrizione</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="descrizione"
                    name="descrizione"
                    formControlName="descrizione"
                  />
                </div>
              </div>

              <!-- civico -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="civico">Civico</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="civico"
                    name="civico"
                    formControlName="civico"
                  />
                </div>
              </div>

              <!-- subalterno -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="subalterno">Subalterno</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subalterno"
                    name="subalterno"
                    formControlName="subalterno"
                  />
                </div>
              </div>

              <!-- piano -->
              <div class="col-md-4 mb-3">
                <label class="form-label" for="piano">Piano</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="piano"
                    name="piano"
                    formControlName="piano"
                  />
                </div>
              </div>
            </div>

            <!-- Documenti -->
            <div formArrayName="documenti" style="margin-top: 1rem">
              <div class="col-12 mb-3">
                <strong>Documenti:</strong>
              </div>

              <div class="col-12 mb-3">
                <div class="container-fluid">
                  <div
                    class="row d-flex mb-4 pt-3"
                    *ngFor="
                      let documento of documentiList.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                    style="background-color: #f2f2f2; border-radius: 6px"
                  >
                    <div class="col-12 mb-3 d-flex justify-content-end">
                      <button
                        type="button"
                        class="btn p-0"
                        (click)="deleteDocument(i)"
                        title="Elimina"
                        style="font-size: 1.5rem"
                      >
                        <i class="bi bi-trash3"></i>
                      </button>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label class="form-label">Tipo documento *</label>
                      <div class="input-group">
                        <select
                          class="form-control"
                          name="tipoDocumento"
                          formControlName="tipoDocumento"
                        >
                          <option value="" disabled>
                            Seleziona un tipo di documento
                          </option>
                          <option
                            *ngFor="let tipo of documentTypes"
                            [value]="tipo"
                          >
                            {{ tipo | capitalize }}
                          </option>
                        </select>
                        <span class="input-group-text">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                      </div>
                      <span
                        class="custom-error"
                        *ngIf="
                          documentiList.controls[i]
                            .get('tipoDocumento')
                            ?.hasError('required') && submitted
                        "
                      >
                        Il tipo documento è obbligatorio!
                      </span>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label class="form-label">Data documento *</label>
                      <mat-form-field appearance="fill" style="width: 100%">
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="dataDocumento"
                          placeholder="dd/mm/yyyy"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <span
                        class="custom-error"
                        *ngIf="
                          documentiList.controls[i]
                            .get('dataDocumento')
                            ?.hasError('required') && submitted
                        "
                      >
                        Data documento è obbligatoria!
                      </span>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label class="form-label">Nome File *</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          name="percorsoFile"
                          formControlName="percorsoFile"
                          placeholder="Selected file"
                          readonly
                        />
                        <input
                          type="file"
                          #fileInput
                          style="display: none"
                          (change)="onFileSelected($event, i)"
                          accept=".pdf,.txt"
                        />
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          (click)="fileInput.click()"
                        >
                          <i class="bi bi-upload me-1"></i>Upload
                        </button>
                      </div>
                      <span
                        class="custom-error"
                        *ngIf="
                          modificaForm
                            .get('documenti')
                            ?.get(i.toString())
                            ?.get('percorsoFile')
                            ?.hasError('required') && submitted
                        "
                      >
                        Nome File è obbligatorio!
                      </span>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label class="form-label">Descrizione</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          name="descrizione"
                          formControlName="descrizione"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3">
                <button
                  type="button"
                  class="btn btn-primary py-2"
                  (click)="addDocumento()"
                >
                  Aggiungi documento
                </button>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="col-12 mt-5 d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary py-2"
              (click)="indietro()"
            >
              <i
                class="bi bi-arrow-left me-1"
                style="vertical-align: middle"
              ></i>
              Indietro
            </button>

            <div>
              <button
                type="button"
                class="btn btn-outline-primary py-2 me-3"
                (click)="resetForm()"
              >
                <i class="bi bi-arrow-counterclockwise me-1"></i>
                Reset
              </button>

              <button type="submit" class="btn btn-primary py-2">Salva</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="deleteFileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Conferma eliminazione</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare questo documento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annulla
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmDeleteFile()"
        >
          Elimina
        </button>
      </div>
    </div>
  </div>
</div>
