<ng-container *ngIf="currentUser$ | async as user">
  <header class="header" role="banner">
    <div class="user-bar">
      <div class="user-bar__inner">
        <div class="user-info">
          <i class="bi bi-person-circle" aria-hidden="true"></i>
          <div class="user-info__text">
            <span class="user-name"
              >{{ user.nome }} {{ user.cognome }}
              <span class="user-username">({{ user.username }})</span>
            </span>
            <span class="user-roles" *ngIf="user.roles?.length">
              <span class="role-badge" *ngFor="let r of user.roles">{{ r }}</span>
            </span>
          </div>
        </div>

        <div class="user-actions">
          <button
            *ngIf="isAdmin()"
            type="button"
            class="btn-link"
            (click)="goToUtenti()"
          >
            <i class="bi bi-people" aria-hidden="true"></i>
            <span>Gestione utenti</span>
          </button>
          <button
            type="button"
            class="btn-link btn-link--danger"
            (click)="logout()"
          >
            <i class="bi bi-box-arrow-right" aria-hidden="true"></i>
            <span>Logout</span>
          </button>
        </div>
      </div>
    </div>

    <app-tabs></app-tabs>
  </header>
</ng-container>
