table {
    border-color: #0075bf;
    text-align: center;
  }

  .select-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .select-wrapper label {
    font-size: inherit;
    font-weight: 500;
    transform: translateY(-20%)
  }