<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Dettagli Morosità'"></app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5">Dettagli Morosità</h1>

        <form [formGroup]="viewForm" class="row g-3">
       
          <div class="col-md-4 mb-3">
            <label class="form-label">Contratto ID</label>
            <input type="text" class="form-control" formControlName="contrattoId" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Data Rilevazione</label>
            <input type="text" class="form-control" formControlName="dataRilevazione" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Data Scadenza</label>
            <input type="text" class="form-control" formControlName="dataScadenza" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Dovuto</label>
            <input type="text" class="form-control" formControlName="importoDovuto" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Versato</label>
            <input type="text" class="form-control" formControlName="importoVersato" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Morosità</label>
            <input type="text" class="form-control" formControlName="importoMorosita" readonly>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Stato</label>
            <input type="text" class="form-control" formControlName="stato" readonly>
          </div>

     
          <div class="col-12 mt-4">
            <h3 class="mb-3">Tentativi di Contatto</h3>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="form-label">Tentativi Effettuati</label>
                <input type="text" class="form-control" 
                      formControlName="tentativiContatto" readonly>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label">Modalità Contatto</label>
                <input type="text" class="form-control" 
                      formControlName="modalitaContatto" readonly>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label">Esito Contatto</label>
                <input type="text" class="form-control" 
                      formControlName="esitoContatto" readonly>
              </div>
            </div>
          </div>

   
          <div class="col-12 mt-4">
            <h3 class="mb-3">Note</h3>
            <div class="row">
              <div class="col-12 mb-3">
                <label class="form-label">Note</label>
                <textarea class="form-control" formControlName="note" readonly></textarea>
              </div>
            </div>
          </div>

          <div class="col-12 mt-4">
            <h3 class="mb-3">Solleciti</h3>
            <div class="row">
              <div class="col-12 mb-3">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['solleciti']">
                  <i class="bi bi-arrow-right me-1" ></i>
                  Vista Solleciti
                </button>
              </div>
            </div>
          </div>
      
          <div class="col-12 mt-5">
            <button type="button" class="btn btn-outline-primary" (click)="indietroM()">
              <i class="bi bi-arrow-left me-1"></i>
              Indietro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>