<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="pageTitle"></app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5">{{pageTitle}}</h1>

        <form [formGroup]="morositaForm" (ngSubmit)="onSubmit()" class="row g-3">
         
          <div class="col-md-4 mb-3">
            <label class="form-label">Contratto*</label>
            <div class="input-group" [ngClass]="{'is-invalid': isFieldInvalid('contrattoId')}">
              <select class="form-select" formControlName="contrattoId">
                <option [ngValue]="null">Seleziona contratto</option>
                <option *ngFor="let contratto of contratti" [value]="contratto.id">
                  {{contratto.descrizione}}
                </option>
              </select>
              <span class="input-group-text">
                <i class="bi bi-caret-down-fill"></i>
              </span>
            </div>
            <div class="invalid-feedback" *ngIf="isFieldInvalid('contrattoId')">
              Contratto è obbligatorio
            </div>
          </div>
          
          <div class="col-md-4 mb-3">
            <label class="form-label">Data Rilevazione*</label>
            
            <mat-form-field appearance="fill" style="width: 100%">
              <input matInput [matDatepicker]="pickerdataRilevazione" name="dataRilevazione"
              formControlName="dataRilevazione"  id="dataRilevazione"  [ngClass]="{'is-invalid': isFieldInvalid('dataRilevazione')}"/>
              <mat-datepicker-toggle matSuffix [for]="pickerdataRilevazione"></mat-datepicker-toggle>
              <mat-datepicker #pickerdataRilevazione></mat-datepicker>
            </mat-form-field>

             <div class="invalid-feedback" *ngIf="isFieldInvalid('dataRilevazione')">
              Data Rilevazione è obbligatoria
            </div>

            <span class="invalid-feedback" *ngIf="morositaForm?.get('dataRilevazione')?.hasError('matDatepickerParse')">
               Inserisci una data valida nel formato gg/mm/aaaa!
              </span>
          </div>
     


                    <!-- Data Scadenza -->
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Data Scadenza*</label>
                      
                      <mat-form-field appearance="fill" style="width: 100%">
                        <input matInput [matDatepicker]="pickerdataScadenza" name="dataScadenza"
                        formControlName="dataScadenza"  id="dataScadenza"  [ngClass]="{'is-invalid': isFieldInvalid('dataScadenza')}"/>
                        <mat-datepicker-toggle matSuffix [for]="pickerdataScadenza"></mat-datepicker-toggle>
                        <mat-datepicker #pickerdataScadenza></mat-datepicker>
                      </mat-form-field>
      
                       <div class="invalid-feedback" *ngIf="isFieldInvalid('dataScadenza')">
                        Data Scadenza è obbligatoria
                      </div>
      
                      <span class="invalid-feedback" *ngIf="morositaForm?.get('dataScadenza')?.hasError('matDatepickerParse')">
                         Inserisci una data valida nel formato gg/mm/aaaa!
                        </span>
                    </div>
               

    
          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Dovuto*</label>
            <input type="number" class="form-control" formControlName="importoDovuto"
              [ngClass]="{'is-invalid': isFieldInvalid('importoDovuto')}" min="0">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('importoDovuto')">
                Importo Dovuto è obbligatorio
              </div>
          </div>

      
          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Versato*</label>
            <input type="number" class="form-control" formControlName="importoVersato"
              [ngClass]="{'is-invalid': isFieldInvalid('importoVersato')}" min="0">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('importoVersato')">
                Importo Versato è obbligatorio
              </div>
          </div>

      
          <div class="col-md-4 mb-3">
            <label class="form-label">Importo Morosità*</label>
            <input type="number" class="form-control" formControlName="importoMorosita"
              [ngClass]="{'is-invalid': isFieldInvalid('importoMorosita')}" min="0">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('importoMorosita')">
                Importo Morosità è obbligatorio
              </div>
          </div>


          <div class="col-md-4 mb-3">
            <label class="form-label">Stato*</label>
            <div class="input-group" [ngClass]="{'is-invalid': isFieldInvalid('stato')}">
              <select class="form-select" formControlName="stato">
                <option value="">Seleziona stato</option>
                <option *ngFor="let stato of statoOptions" [value]="stato.value">
                  {{ stato.label }}
                </option>
              </select>
              <span class="input-group-text">
                <i class="bi bi-caret-down-fill"></i>
              </span>
            </div>
            <div class="invalid-feedback" *ngIf="isFieldInvalid('stato')">
              Stato è obbligatorio
            </div>
          </div>

      
          <div class="col-md-4 mb-3">
            <label class="form-label">Tentativi Contatto*</label>
            <input type="number" class="form-control" formControlName="tentativiContatto"
              [ngClass]="{'is-invalid': isFieldInvalid('tentativiContatto')}" min="0">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('tentativiContatto')">
                Tentativi Contatto è obbligatorio
              </div>
          </div>

   
          <div class="col-md-4 mb-3">
            <label class="form-label">Modalità Contatto*</label>
            <div class="input-group">
              <select class="form-select" formControlName="modalitaContatto">
                <option value="">Seleziona modalità</option>
                <option *ngFor="let modalita of modalitaContattoOptions" [value]="modalita.value">
                  {{modalita.label}}
                </option>
              </select>
              <span class="input-group-text">
                <i class="bi bi-caret-down-fill"></i>
              </span>
            </div>
            <div class="invalid-feedback" *ngIf="isFieldInvalid('modalitaContatto')">
              Modalita Contatto è obbligatoria
            </div>
          </div>

 
          <div class="col-md-8 mb-3">
            <label class="form-label">Note</label>
            <textarea class="form-control" formControlName="note" rows="3"></textarea>
          </div>


          <div class="col-md-4 mb-3">
            <label class="form-label">Esito Contatto</label>
            <input type="text" class="form-control" formControlName="esitoContatto">
          </div>

  
          <div class="col-12 mt-5 d-flex justify-content-between">
          
            <button
              type="button"
              class="btn btn-outline-primary py-2"
              routerLink="/morosita"
            >
              <i
                class="bi bi-arrow-left me-1"
                style="vertical-align: middle"
              ></i>
              Indietro
            </button>
            <button type="submit" class="btn btn-primary me-2">
              Salva
            </button>
          
          </div>
        </form>

      </div>
    </div>
  </div>
</section>