<app-breadcrumbs [crumbsList]="breadcrumbList" [currentPage]="'Nuovo Piano'"></app-breadcrumbs>

<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 id="main-content" class="mb-5">Nuovo Piano</h1>
    
            <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" class="row g-3">
              <div class="col-12">
                <div class="row d-flex">
    
                  <input type="text" name="id" [(ngModel)]="piano.id" hidden/>
                  <!-- Anno -->
                  <div class="col-md-4 mb-3">
                    <label for="anno" class="form-label">Anno*</label>
                    <div class="input-group">
                      <input type="text" id="anno" class="form-control" name="anno"
                        [(ngModel)]="piano.anno" required pattern="^\d{4}$" #annoRef="ngModel"  [ngClass]="{'is-invalid': annoRef?.invalid && submitted}"/>
                    </div>
                  <div class="custom-error" *ngIf="annoRef?.invalid && submitted">
                    <span *ngIf="annoRef?.errors?.['required']">
                     Anno è obbligatorio!
                    </span>
                    <span *ngIf="annoRef?.errors?.['pattern']">
                      Inserisci un anno valido (es. 2024)!
                    </span>
                  </div>
                </div>
                  <!-- Descrizione -->
                  <div class="col-md-4 mb-3">
                    <label for="descrizione" class="form-label">Descrizione*</label>
                    <div class="input-group">
                      <input type="text" id="descrizione" class="form-control" name="descrizione"
                        [(ngModel)]="piano.descrizione" required minlength="3" #descrizioneRef="ngModel" [ngClass]="{'is-invalid': descrizioneRef?.invalid && submitted}"/>
                    </div>
                    <div class="custom-error" *ngIf="descrizioneRef?.invalid && submitted">
                    <span>
                      Inserisci almeno 3 caratteri!
                    </span>
                  </div>
    </div>
                  <!-- Budget Totale -->
                  <div class="col-md-4 mb-3">
                    <label for="budgetTotale" class="form-label">Budget Totale*</label>
                    <div class="input-group">
                      <input type="text" id="budgetTotale" class="form-control" name="budgetTotale"
                        [(ngModel)]="piano.budgetTotale" required pattern="^\d+(\.\d+)?$"
                        #budgetTotaleRef="ngModel" [ngClass]="{'is-invalid': budgetTotaleRef?.invalid && submitted}"/>
                    </div>
                    <div class="custom-error" *ngIf="budgetTotaleRef?.invalid && submitted">
                    <span *ngIf="budgetTotaleRef?.errors?.['required']">
                      Budget Totale è obbligatorio!
                    </span>
                    <span *ngIf="budgetTotaleRef?.errors?.['pattern']">
                      Inserisci un budget valido!
                    </span>
                  </div>
                  </div>
    
                  <!-- Budget Utilizzato -->
                  <div class="col-md-4 mb-3">
                    <label for="budgetUtilizzato" class="form-label">Budget Utilizzato*</label>
                    <div class="input-group">
                      <input type="text" id="budgetUtilizzato" class="form-control" name="budgetUtilizzato"
                        [(ngModel)]="piano.budgetUtilizzato" required pattern="^\d+(\.\d+)?$"
                        #budgetUtilizzatoRef="ngModel" [ngClass]="{'is-invalid': budgetUtilizzatoRef?.invalid && submitted}"/>
                    </div>
                    <div class="custom-error" *ngIf="budgetUtilizzatoRef?.invalid && submitted">
                    <span *ngIf="budgetUtilizzatoRef?.errors?.['required']">
                      Budget Totale è obbligatorio!
                    </span>
                    <span *ngIf="budgetUtilizzatoRef?.errors?.['pattern']">
                      Inserisci un budget valido!
                    </span>
                  </div>
                  </div>
                  <!-- Budget Residuo -->
                  <div class="col-md-4 mb-3">
                    <label for="budgetResiduo" class="form-label">Budget Residuo*</label>
                    <div class="input-group">
                      <input type="text" id="budgetResiduo" class="form-control" name="budgetResiduo"
                        [(ngModel)]="piano.budgetResiduo" required pattern="^\d+(\.\d+)?$"
                        #budgetResiduoRef="ngModel" [ngClass]="{'is-invalid': budgetResiduoRef?.invalid && submitted}"/>
                    </div>
                    <div class="custom-error" *ngIf="budgetResiduoRef?.invalid && submitted">
                    <span *ngIf="budgetResiduoRef?.errors?.['required']">
                      Budget Totale è obbligatorio!
                    </span>
                    <span *ngIf="budgetResiduoRef?.errors?.['pattern']">
                      Inserisci un budget valido!
                    </span>
                  </div>
                  </div>
                  <!-- Data Approvazione -->
                  <div class="col-md-4 mb-3">
                    <label class="form-label">Data Approvazione</label>
                    
                    <mat-form-field appearance="fill" style="width: 100%">
                      <input matInput [matDatepicker]="picker" name="dataApprovazione"
                        [(ngModel)]="piano.dataApprovazione" #dataApprovazioneRef="ngModel"  [ngClass]="{'is-invalid': dataApprovazioneRef?.invalid && submitted}"/>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="custom-error" *ngIf="dataApprovazioneRef?.invalid && submitted">
                    <span *ngIf="dataApprovazioneRef?.errors?.['matDatepickerParse']">
                        Data Approvazione non valido
                      </span>
                    </div>
                  </div>
    
                  <!-- Note -->
                  <div class="col-md-12 mb-3">
                    <label for="note" class="form-label">Note</label>
                    <div class="input-group">
                      <textarea id="note" class="form-control" name="note"
                        [(ngModel)]="piano.note" rows="3"></textarea>
                    </div>
                  </div>
    
                </div>
              </div>
    
              <!-- Buttons -->
              <div class="col-12 mt-5 d-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary py-2" (click)="indietro()">
                  <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
                  Indietro
                </button>
    
                <div>
                  <button type="button" class="btn btn-outline-primary py-2 me-3" (click)="resetForm(addForm)">
                    <i class="bi bi-arrow-counterclockwise me-1"></i>
                    Reset
                  </button>
    
                  <button type="submit" class="btn btn-primary py-2">
                    Salva
                  </button>
                </div>
              
              </div>
            </form>
          </div>
        </div>
      </div>
</section>
