<app-breadcrumbs
  [crumbsList]="breadcrumbList"
  [currentPage]="!editMode ? 'Dettagli Registrazione Contabile' : 'Modifica Registrazione Contabile'"
></app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="dataRegistrazione" class="form-label">Data Registrazione</label>
          <div class="input-group">
          <input 
            type="date" 
            id="dataRegistrazione" 
            formControlName="dataRegistrazione" 
            class="form-control"
            [ngClass]="{'is-invalid': hasError('dataRegistrazione')}"
            readonly
            locale="it-IT"
          />
          </div>
        </div>
  
      <div class="col-md-6 mb-3" *ngIf="editMode;else showData">
        <label class="form-label">Data Competenza*</label>
      
        <mat-form-field appearance="fill" style="width: 100%">
          <input matInput [matDatepicker]="picker" id="dataCompetenza" 
          formControlName="dataCompetenza" 
            [ngClass]="{'is-invalid': hasError('dataCompetenza')}"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <div class="invalid-feedback" *ngIf="hasError('dataCompetenza')">
            Data di competenza  è obbligatoria!
        </div>
      </div>

      <ng-template #showData>
        <div class="col-md-6 mb-3">
        <label class="form-label">Data Competenza*</label>
      
        <div class="input-group">
          <input  class="form-control" id="dataCompetenza" 
          [value]="registrazione.dataCompetenza | date: 'dd/MM/yyyy'"
          readonly
          >
        </div>
      </div>
      </ng-template>

      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="numeroProtocollo" class="form-label">Numero Protocollo*</label>
          <div class="input-group">
          <input 
            type="text" 
            id="numeroProtocollo" 
            formControlName="numeroProtocollo" 
            class="form-control"
            placeholder="es. 2024/0001"
            [ngClass]="{'is-invalid': hasError('numeroProtocollo')}"
            [readonly]="!editMode"
          >
          </div>
          <div class="invalid-feedback" *ngIf="hasError('numeroProtocollo')">
            Numero di protocollo  è obbligatorio!
          </div>
        </div>

        
        <div class="col-md-6 mb-3">
          <label for="tipo" class="form-label">Tipo</label>
          <div class="input-group">
              <select 
                id="tipo" 
                formControlName="tipo" 
                class="form-select"
                [ngClass]="{'is-invalid': hasError('tipo')}"
              >
                <option *ngFor="let tipo of tipoOptions"  [value]="tipo">{{tipo | capitalize}}</option>
              </select>
          </div>
          <div class="invalid-feedback" *ngIf="hasError('tipo')">
            Tipo è obbligatorio!
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="contrattoId" class="form-label">Contratto</label>
          <div class="input-group">
          <select 
            id="contrattoId" 
            formControlName="contrattoId" 
            class="form-select"
            [ngClass]="{'is-invalid': hasError('contrattoId')}"
          >
            <option value="">Seleziona contratto</option>
            <option *ngFor="let contract of contratti"  [value]="contract.id">{{transformCodice(contract.descrizione)}}</option>
          </select>
          </div>
          <div class="invalid-feedback" *ngIf="hasError('contrattoId')">
            Contratto  è obbligatorio!
          </div>
         <!--  <small class="form-text text-muted">
            Nota: È necessario aver registrato una QERA per questo contratto.
          </small> -->
        </div>
        
        <div class="col-md-6 mb-3">

          <label for="descrizione" class="form-label">Descrizione</label>
          <div class="input-group">
          <input 
            type="text" 
            id="descrizione" 
            formControlName="descrizione" 
            class="form-control"
            placeholder="es. Incasso canone marzo 2024 - Contratto n.1"
            [readonly]="!editMode"
          >    <!--  [ngClass]="{'is-invalid': hasError('descrizione')}" -->
            </div>
       <!--    <div class="invalid-feedback" *ngIf="hasError('descrizione')">
            Descrizione  è obbligatoria!
          </div> -->
        </div>
      </div>
      
      <h3 class="mt-4">Movimenti</h3>
   
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>Importo*</th>
              <th>Tipo</th>
              <th>Conto</th>
            </tr>
          </thead>
          <tbody formArrayName="movimenti">
            <tr *ngFor="let movimento of movimenti?.controls; let i = index" [formGroupName]="i">
              <td>#{{i+1}}</td>
              <td>
                <div class="input-group">
                  <span class="input-group-text">€</span>
                  <input type="number" step="0.01" class="form-control" formControlName="importo" [readonly]="!editMode">
                </div>
              </td>
              <td>
                <div class="input-group">
                <select class="form-select" formControlName="dare"><!-- [disabled]="!editMode" -->
                  <option [ngValue]="true">Dare</option>
                  <option [ngValue]="false">Avere</option>
                </select>
                </div>
              </td>
              <td>
                <div class="input-group">
                <select class="form-select" formControlName="contoId" ><!-- [disabled]="!editMode" -->
                  <option *ngFor="let conto of conti" [value]="conto.id">{{ conto.codice }} - {{ conto.descrizione }}</option>
                </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="col-12 mt-5 d-flex justify-content-between">
        <button type="button" class="btn btn-outline-primary py-2" (click)="indietro()">
          <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
          Indietro
        </button>

        <div>
         <button type="button" class="btn btn-outline-primary me-3" *ngIf="editMode" (click)="resetForm()">
            <i class="bi bi-x-circle me-1"></i>
            Annulla
          </button> 

        <!--   <button *ngIf="!editMode" class="btn btn-primary" (click)="toggleEditMode()">
            <i class="fa fa-edit"></i> Modifica
          </button> -->
          <button *ngIf="editMode" class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Salva
          </button>
    <!--       
          <button type="submit" class="btn btn-primary py-2">
            Salva
          </button> -->
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</section>