.entry-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
  height: 100%;
  background-color: #0075bf;
  /* background-image: url("/assets/images/entry-overlay-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  z-index: 999999999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.entry-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.entry-overlay-content img {
  margin-bottom: 30px;
}
.entry-overlay-content h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.entry-overlay-content p {
  color: #fff;
  margin-bottom: 60px;
  font-size: 18px;
}
.entry-overlay-content button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.entry-overlay-content button:hover {
  background-color: #003a54;
  color: #fff;
  border: 2px solid #003a54;
}
