.hidden-overlay {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none; /* Prevents interaction when hidden */
}
.entry-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0075bf;
  /* background-image: url("/assets/images/entry-overlay-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  z-index: 999999999;
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.entry-overlay-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.entry-overlay img {
  margin-bottom: 30px;
}
.entry-overlay h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.entry-overlay p {
  color: #fff;
  margin-bottom: 60px;
  font-size: 18px;
}
.entry-overlay button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.entry-overlay button:hover {
  background-color: #003a54;
  color: #fff;
  border: 2px solid #003a54;
}
