<div class="entry-overlay">
  <div class="container">
    <div class="row">
      <div class="col-12 entry-overlay-content">
        <div class="logo-wrapper">
          <div class="glow"></div>
          <img
            src="./assets/images/logo-domus-reg-vertical.svg"
            alt="ERP DomusReg Logo"
            height="120"
          />
        </div>

        <p>
          Piattaforma Regionale per la Gestione del Patrimonio Immobiliare
          Pubblico
          <br />
          e dell'Edilizia Residenziale Popolare - ERP - di Regione Puglia
        </p>

        <button (click)="dismissOverlay()">Vai all'app</button>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>

<app-header></app-header>

<main>
  <app-toast></app-toast>
  <router-outlet #outlet="outlet"> </router-outlet>
</main>

<app-footer></app-footer>
