<app-breadcrumbs
  [crumbsList]="breadcrumbList"
  [currentPage]="'Nuovo condominio'"
>
</app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form [formGroup]="addForm" class="row g-3" (ngSubmit)="onSubmit()">
          <div class="col-12">
            <div class="row d-flex">
              <div class="col-md-4 mb-3">
                <label class="form-label" for="codice">Codice *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('codice')">
                  <input
                    type="text"
                    class="form-control"
                    id="codice"
                    formControlName="codice"
                  />
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('codice')">
                  Codice obbligatorio
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label" for="denominazione">Denominazione *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('denominazione')">
                  <input
                    type="text"
                    class="form-control"
                    id="denominazione"
                    formControlName="denominazione"
                  />
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('denominazione')">
                  Denominazione è obbligatoria
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label" for="indirizzo">Indirizzo *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('indirizzo')">
                  <input
                    type="text"
                    class="form-control"
                    id="indirizzo"
                    formControlName="indirizzo"
                    minlength="5"
                  />
                </div>
                <div class="invalid-feedback" *ngIf="this.addForm.get('indirizzo')?.hasError('required')">
                  Indirizzo è obbligatorio
                </div>
                <div class="invalid-feedback" *ngIf="this.addForm.get('indirizzo')?.hasError('minlength')">
                  L'indirizzo deve essere più lungo di 5 caratteri
                </div>
               
              </div>

         
              <div class="col-md-4 mb-3">
                <label class="form-label" for="provincia">Provincia *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('provincia')">
                  <select
                    class="form-control"
                    id="provincia"
                    formControlName="provincia"
                  >
                    <option value="" disabled selected>Seleziona una provincia</option>
                    <option *ngFor="let provincia of provinces" [value]="provincia.sigla">
                      {{ provincia.nome }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-caret-down-fill"></i>
                  </span>
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('provincia')">
                  Provincia è obbligatoria
                </div>
              </div>

          
              <div class="col-md-4 mb-3">
                <label class="form-label" for="comune">Comune *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('comune')">
                  <select
                    class="form-control"
                    id="comune"
                    formControlName="comune"
                    [disabled]="!addForm.get('provincia')?.value"
                  >
                    <option value="" disabled selected>Seleziona un comune</option>
                    <option *ngFor="let comune of filteredComuni" [value]="comune.nome">
                      {{ comune.nome }}
                    </option>
                  </select>
                  <span class="input-group-text">
                    <i class="bi bi-caret-down-fill"></i>
                  </span>
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('comune')">
                  Comune è obbligatorio
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label" for="cap">CAP *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('cap')">
                  <input
                    type="text"
                    class="form-control"
                    id="cap"
                    formControlName="cap"
                    maxlength="5"
                    (keypress)="onCapKeyPress($event)"
                  />
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('cap')">
                  <span *ngIf="addForm.get('cap')?.errors?.['required']">
                    CAP obbligatorio
                  </span>
                  <span *ngIf="addForm.get('cap')?.errors?.['minlength'] || addForm.get('cap')?.errors?.['maxlength']">
                    Il CAP deve essere composto da 5 numeri
                  </span>
                  <span *ngIf="addForm.get('cap')?.errors?.['pattern']">
                    Il CAP deve contenere solo numeri
                  </span>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label" for="codiceFiscale">Codice Fiscale *</label>
                <div class="input-group" [class.is-invalid]="shouldShowError('codiceFiscale')">
                  <input
                    type="text"
                    class="form-control"
                    id="codiceFiscale"
                    formControlName="codiceFiscale"
                  />
                </div>
                <div class="invalid-feedback" *ngIf="shouldShowError('codiceFiscale')">
                  Codice Fiscale è obbligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary me-3">
              Salva
            </button>

            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="indietro()"
            >
              <i class="bi bi-arrow-left me-1" style="vertical-align: middle"></i>
              Indietro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>