<footer id="footer" class="footer dms-footer">
  <div class="pre-footer d-flex justify-content-center align-items-center">
    <a href="#" target="_blank" title="Valuta questo sito. Aiutaci a migliorare"
      >Valuta questo sito. Aiutaci a migliorare</a
    >
  </div>

  <div class="container-fluid p-0">
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <a
              href="https://www.regione.puglia.it/"
              title="ERP Puglia"
              target="_blank"
              class="footer-logo"
            >
              <img
                src="./assets/images/logo-regione-puglia-white.svg"
                alt="logo ERP Puglia"
                class="img-fluid"
              />
            </a>
          </div>
          <div class="col-12 col-lg-8">
            <div class="dms-footer--social">
              <a
                href="https://www.facebook.com/"
                title="Facebook"
                target="_blank"
              >
                <i class="dms-wk-icon-fb"></i>
              </a>
              <a
                href="https://www.instagram.com/"
                title="Instagram"
                target="_blank"
              >
                <i class="dms-wk-icon-ig"></i>
              </a>
              <a href="https://x.com/" title="Twitter" target="_blank">
                <i class="dms-wk-icon-tw"></i>
              </a>
              <a
                href="https://www.youtube.com/"
                title="Youtube"
                target="_blank"
              >
                <i class="dms-wk-icon-yt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="dms-footer--info">
              <div class="info-section">
                <h5>Regione Puglia</h5>
                <span>Assessorato all'industria turistica e culturale</span>
              </div>
              <div class="info-section">
                <h5>
                  <a
                    href="#"
                    target="_blank"
                    title="Agenzia Regionale del Turismo"
                    >Agenzia Regionale del Turismo</a
                  >
                </h5>
              </div>
              <div class="info-section">
                <h5>
                  <a href="#" target="_blank" title="Innovapuglia"
                    >Innovapuglia</a
                  >
                </h5>
                <span>Società in House Regione Puglia</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="dms-footer--info">
              <div class="info-section">
                <h5>Servizio di Assistenza</h5>
                <span
                  >Dal lunedì al venerdì<br />
                  dalle 8:00 alle 19:00<br
                /></span>
                <a href="mailto:info@email.com" title="info@email.com">
                  info@email.com
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="dms-footer--info">
              <div class="info-section">
                <h5>Mappa del sito</h5>
                <ul>
                  <li>
                    <a href="#" title="Chi siamo">Chi siamo</a>
                  </li>
                  <li>
                    <a href="#" title="Contatti">Contatti</a>
                  </li>
                  <li>
                    <a href="#" title="Statistiche di utilizzo" target="_blank"
                      >Statistiche di utilizzo</a
                    >
                  </li>
                </ul>
              </div>
              <div class="info-section">
                <h5>Risorse utilizzo</h5>
                <ul>
                  <li>
                    <a href="#" title="Teamviewer" target="_blank"
                      >Teamviewer</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Spot completo" target="_blank"
                      >SPOT Completo</a
                    >
                  </li>
                  <li>
                    <a href="#" title="JRE" target="_blank">JRE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-0 m-0">
          <div class="d-flex flex-column flex-lg-row dms-footer--bottom">
            <div class="dms-footer--bottom-link">
              <a href="#" title="Note legali">Note legali</a>
            </div>
            <div class="dms-footer--bottom-link">
              <a href="#" title="Cookie e privacy">Cookie e Privacy</a>
            </div>
            <div class="dms-footer--bottom-link">
              <a href="#" title="Amministrazione Trasparente"
                >Amministrazione Trasparente</a
              >
            </div>
            <div class="mt-4 mt-lg-0 ml-lg-auto">© Regione Puglia</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
