/* TEMP (css from DMS Puglia) */

.dms-footer .pre-footer a {
  font-family: "titilliumwebSemibold", sans-serif;
}
.dms-footer .pre-footer {
  background-color: #0075bf;
  height: 40px;
}
.dms-footer .pre-footer a {
  color: #fff;
  text-decoration: none;
}
.dms-footer .pre-footer a:hover {
  text-decoration: underline;
}

.dms-footer .main-footer {
  padding: 20px;
  background-color: #003a54;
  /* border-top: 2px solid #003a54; */
  min-height: 380px;
  color: #fff;
  font-size: 14px;
}
.dms-footer .main-footer h5 {
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.4;
}
@media (max-width: 991.98px) {
  .dms-footer .main-footer h5 {
    font-size: 14px;
  }
}
.dms-footer .main-footer a {
  color: #fff;
}
.dms-footer .main-footer a:hover {
  opacity: 90%;
}
.dms-footer .main-footer a:active {
  text-decoration: underline;
  color: #0075bf;
}
.dms-footer .main-footer a:hover,
.dms-footer .main-footer a:focus {
  color: #0075bf;
}
.dms-footer .main-footer a.footer-logo > img {
  max-height: 58px;
  /* filter: invert(1); */
}
.dms-footer .main-footer .dms-footer--social {
  margin-top: 20px;
  /* padding-top: 15px; */
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  /* border-top: 1px solid #fff; */
  /* text-align: center; */
}
@media (min-width: 992px) {
  .dms-footer .main-footer .dms-footer--social {
    padding-top: 0;
    border-top: none;
    text-align: right;
  }
}
.dms-footer .main-footer .dms-footer--social a:not(:first-child) {
  margin-left: 25px;
}
.dms-footer .main-footer .dms-footer--social a:hover,
.dms-footer .main-footer .dms-footer--social a:focus {
  /* fill: #06c; */
  opacity: 75%;
}
.dms-footer .main-footer .dms-footer--social svg {
  fill: #fff;
}
.dms-footer .main-footer .dms-footer--info {
  padding-top: 20px;
  font-size: 14px;
}
.dms-footer .main-footer .dms-footer--info .info-section {
  margin-bottom: 20px;
  display: block;
}
.dms-footer .main-footer .dms-footer--info .info-section ul {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}
.dms-footer .main-footer .dms-footer--bottom {
  padding-top: 20px;
  border-top: 1px solid #fff;
}
.dms-footer .main-footer .dms-footer--bottom-link {
  margin-right: 30px;
  font-size: 14px;
}
