<!-- navbar-dark bg-dark fixed-top -->
<nav class="navbar py-3">
  <!-- container-fluid justify-content-start -->
  <div class="container">
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- navbar brand -->
    <!-- ms-5 -->
    <a class="navbar-brand py-0 me-0" [routerLink]="['/']" title="ERP Puglia">
      <!-- <img
        src="./assets/images/logo-regione-puglia-white.svg"
        alt="ERP Puglia Logo"
        height="60"
      /> -->
      <img
        src="./assets/images/logo-domus-reg.svg"
        alt="ERP DomusReg Logo"
        height="75"
      />
    </a>
  </div>
</nav>

<!-- class="collapse collapse-horizontal show" id="navbarToggleExternalContent" data-bs-theme="dark" -->
<div class="main-nav-menu-wrapper col-12 py-4">
  <!-- class="bg-dark p-4" style="height: 100%" -->
  <div class="container">
    <ul class="navbar-nav main-nav-menu">
      <li class="nav-item">
        <!-- aria-current="page" -->
        <a
          class="nav-link px-3"
          [routerLink]="['/anagrafica']"
          [queryParams]="{ pagina: 0 }"
          [ngClass]="{ active: isCurrentRoute('anagrafica') }"
        >
          <span>Anagrafica</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/patrimonio']"
          [queryParams]="{ pagina: 0 }"
          [ngClass]="{ active: isCurrentRoute('patrimonio') }"
        >
          <span>Patrimonio</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/contratti-locazione']"
          [ngClass]="{ active: isCurrentRoute('contratti-locazione') }"
        >
          <span>Contratti locazione</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/manutenzione']"
          [ngClass]="{ active: isCurrentRoute('manutenzione') }"
        >
          <span>Manutenzione</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/ripartizione-spese']"
          [ngClass]="{ active: isCurrentRoute('ripartizione-spese') }"
        >
          <span>Ripartizione spese</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/morosita']"
          [ngClass]="{ active: isCurrentRoute('morosita') }"
        >
          <span>Morosità</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/contabilita']"
          [ngClass]="{ active: isCurrentRoute('contabilita') }"
        >
          <span>Contabilità</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link px-3"
          [routerLink]="['/ciclo-passivo']"
          [ngClass]="{ active: isCurrentRoute('ciclo-passivo') }"
        >
          <span>Ciclo passivo</span>
        </a>
      </li>
    </ul>
  </div>
</div>
