<app-breadcrumbs
  [crumbsList]="breadcrumbList"
  [currentPage]="'Nuova Anagrafica'"
>
</app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">{{ pageTitle }}</h1>

        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-12">
            <!-- Cittadino -->
            <fieldset formGroupName="cittadino">
              <legend>CITTADINO:</legend>

              <!-- Cittadino main input fields -->
              <div class="row d-flex">
                <div class="col-md-4 mb-3">
                  <label class="form-label" for="nome">Nome *</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      formControlName="nome"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-person"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm.get('cittadino.nome')?.hasError('required') &&
                      (addForm.get('cittadino.nome')?.touched || submitted)
                    "
                  >
                    Nome è obbligatorio!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="cognome">Cognome *</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="cognome"
                      name="cognome"
                      formControlName="cognome"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-person"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm.get('cittadino.cognome')?.hasError('required') &&
                      (addForm.get('cittadino.cognome')?.touched || submitted)
                    "
                  >
                    Cognome è obbligatorio!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="codiceFiscale"
                    >Codice fiscale *</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="codiceFiscale"
                      name="codiceFiscale"
                      formControlName="codiceFiscale"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-ticket-detailed"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm
                        .get('cittadino.codiceFiscale')
                        ?.hasError('required') &&
                      (addForm.get('cittadino.codiceFiscale')?.touched ||
                        submitted)
                    "
                  >
                    Codice fiscale è obbligatorio!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="genere">Genere *</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="genere"
                      name="genere"
                      formControlName="genere"
                      placeholder="M, F or N (non binario)"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-gender-neuter"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm.get('cittadino.genere')?.hasError('required') &&
                      (addForm.get('cittadino.genere')?.touched || submitted)
                    "
                  >
                    Genere è obbligatorio!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="cittadinanza"
                    >Cittadinanza *</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="cittadinanza"
                      name="cittadinanza"
                      formControlName="cittadinanza"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm
                        .get('cittadino.cittadinanza')
                        ?.hasError('required') &&
                      (addForm.get('cittadino.cittadinanza')?.touched ||
                        submitted)
                    "
                  >
                    Cittadinanza è obbligatoria!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label">Data di nascita *</label>
                  <mat-form-field appearance="fill" style="width: 100%">
                    <!-- <mat-label>Data di nascita</mat-label> -->
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dataDiNascita"
                      placeholder="dd/mm/yyyy"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div
                    class="custom-error"
                    *ngIf="
                      addForm
                        .get('cittadino.dataDiNascita')
                        ?.hasError('required') &&
                      (addForm.get('cittadino.dataDiNascita')?.touched ||
                        submitted)
                    "
                  >
                    Data di nascita è obbligatoria!
                  </div>

                  <!-- <div
                    class="custom-error"
                    *ngIf="
                      addForm
                        .get('cittadino.dataDiNascita')
                        ?.hasError('invalidDate') &&
                      addForm.get('cittadino.dataDiNascita')?.touched
                    "
                  >
                    Please enter a valid date in the format dd/mm/yyyy.
                  </div> -->
                </div>
              </div>

              <!-- Residenza -->
              <div
                formGroupName="residenza"
                class="row d-flex cittadino-nested-form-group"
              >
                <div class="col-12 mb-3"><strong>Residenza:</strong></div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="indirizzo">Indirizzo</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="indirizzo"
                      name="indirizzo"
                      formControlName="indirizzo"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-geo-alt"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="civico">Civico</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="civico"
                      name="civico"
                      formControlName="civico"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-house"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="cap">CAP</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="cap"
                      name="cap"
                      formControlName="cap"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-mailbox"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="comuneResidenza"
                    >Comune residenza</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="comuneResidenza"
                      name="comuneResidenza"
                      formControlName="comuneResidenza"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="provinciaResidenza"
                    >Provincia residenza</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="provinciaResidenza"
                      name="provinciaResidenza"
                      formControlName="provinciaResidenza"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="statoResidenza"
                    >Stato residenza</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="statoResidenza"
                      name="statoResidenza"
                      formControlName="statoResidenza"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- Contatti -->
              <div
                formGroupName="contatti"
                class="row d-flex cittadino-nested-form-group"
              >
                <div class="col-12 mb-3"><strong>Contatti:</strong></div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="telefono">Telefono</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="telefono"
                      name="telefono"
                      formControlName="telefono"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-telephone"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="cellulare">Cellulare</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="cellulare"
                      name="cellulare"
                      formControlName="cellulare"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-phone"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="email">Email</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      formControlName="email"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="pec">PEC</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="pec"
                      name="pec"
                      formControlName="pec"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-envelope"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- Luogo nascita -->
              <div
                formGroupName="luogo_nascita"
                class="row d-flex cittadino-nested-form-group"
              >
                <div class="col-12 mb-3"><strong>Luogo nascita:</strong></div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="comune">Comune *</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="comune"
                      name="comune"
                      formControlName="comune"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      addForm
                        .get('cittadino.luogo_nascita.comune')
                        ?.hasError('required') &&
                      (addForm.get('cittadino.luogo_nascita.comune')?.touched ||
                        submitted)
                    "
                  >
                    Comune è obbligatorio!
                  </span>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="provincia">Provincia</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="provincia"
                      name="provincia"
                      formControlName="provincia"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="stato">Stato</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="stato"
                      name="stato"
                      formControlName="stato"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-buildings"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- Documenti identita -->
              <div
                formArrayName="documenti_identita"
                class="cittadino-nested-form-group"
              >
                <div class="col-12 mb-3">
                  <strong>Documenti identita:</strong>
                </div>

                <div class="col-12 mb-3">
                  <div class="container-fluid">
                    <div
                      class="row d-flex mb-4 pt-3"
                      *ngFor="
                        let documento of documentiIdentita.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                      style="background-color: #fff; border-radius: 6px"
                    >
                      <div class="col-12 mb-3 d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn p-0"
                          (click)="removeDocumento(i)"
                          title="Remove"
                          style="font-size: 1.5rem"
                        >
                          <i class="bi bi-x-square-fill"></i>
                        </button>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label class="form-label">Tipo documento</label>
                        <div class="input-group">
                          <select
                            class="form-control"
                            nome="tipo_documento"
                            formControlName="tipo_documento"
                          >
                            <option
                              *ngFor="let tipo of documentTypes"
                              [value]="tipo"
                            >
                              {{ tipo }}
                            </option>
                          </select>
                          <span class="input-group-text">
                            <i class="bi bi-file-person"></i>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label class="form-label">Numero documento</label>
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            nome="numero_documento"
                            formControlName="numero_documento"
                          />
                          <span class="input-group-text">
                            <i class="bi bi-file-earmark-binary"></i>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label class="form-label">Data emissione</label>
                        <mat-form-field appearance="fill" style="width: 100%">
                          <input
                            matInput
                            [matDatepicker]="picker_emissione"
                            formControlName="data_emissione"
                            placeholder="dd/mm/yyyy"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker_emissione"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker_emissione></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label class="form-label">Data scadenza</label>
                        <mat-form-field appearance="fill" style="width: 100%">
                          <input
                            matInput
                            [matDatepicker]="picker_scadenza"
                            formControlName="data_scadenza"
                            placeholder="dd/mm/yyyy"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker_scadenza"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker_scadenza></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label class="form-label">Ente emittente</label>
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            nome="ente_emittente"
                            formControlName="ente_emittente"
                          />
                          <span class="input-group-text">
                            <i class="bi bi-buildings"></i>
                          </span>
                        </div>
                      </div>

                      <!--
                      <div class="col-12 mb-3">
                        <button
                          type="button"
                          class="btn btn-outline-primary py-2"
                          (click)="removeDocumento(i)"
                        >
                          <i class="bi bi-x-circle me-1"></i>
                          Remove
                        </button>
                      </div>
                      -->
                    </div>
                  </div>
                </div>

                <div class="col-12 mb-3">
                  <button
                    type="button"
                    class="btn btn-primary py-2"
                    (click)="addDocumento()"
                  >
                    Add documento
                  </button>
                </div>
              </div>

              <!-- Altri dettagli -->
            </fieldset>
          </div>

          <!-- buttons -->
          <div class="col-12 mt-5 d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary py-2"
              (click)="indietro()"
            >
              <i
                class="bi bi-arrow-left me-1"
                style="vertical-align: middle"
              ></i>
              Indietro
            </button>

            <div>
              <button
                type="button"
                class="btn btn-outline-primary py-2 me-3"
                (click)="resetForm()"
              >
                <i class="bi bi-x-circle me-1"></i>
                Annulla
              </button>

              <button type="submit" class="btn btn-primary py-2">
                Aggiungi
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
