/* You can add global styles to this file, and also import other style files */

/* Fonts */

/* Barlow */
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Titillium Web */
.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ---------------------------------------------------------------------- */

#skip-link a:link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 10px;
}

/* ---------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

/* html {
  font-size: 100%;
} */

body {
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 100%; */
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

/* ---------------------------------------------------------------------- */

/* temp ? */

.header {
  min-height: 98px; /* 98px = ".navbar" height */
}

#navbarToggleExternalContent.show {
  position: fixed;
  height: 100vh;
  padding-top: 98px; /* 98px = ".navbar" height */
  min-width: 250px;
}
main {
  padding-left: calc(
    250px + 30px
  ); /* 250px = #navbarToggleExternalContent width, 30px = extra space */
}
