<app-breadcrumbs
  [crumbsList]="breadcrumbList"
  [currentPage]="'Modifica Voce Spesa'"
>
</app-breadcrumbs>

<section class="pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="main-content" class="mb-5">Modifica Voce Spesa</h1>

        <form
          [formGroup]="modifyForm"
          (ngSubmit)="onSubmit()"
          class="row g-3"
          *ngIf="voceSpesa"
        >
          <div class="col-12">
            <fieldset>
              <div class="row d-flex">
                <div class="col-md-6 mb-3">
                  <label class="form-label" for="periodoId">Periodo *</label>
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="periodoId"
                      formControlName="periodoId"
                    >
                      <option value="">Seleziona periodo</option>
                      <option
                        *ngFor="let periodo of periodi"
                        [value]="periodo.id"
                      >
                        {{ periodo.descrizione }}
                      </option>
                    </select>
                    <span class="input-group-text">
                      <i class="bi bi-calendar"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      modifyForm.get('periodoId')?.hasError('required') &&
                      submitted
                    "
                  >
                    Periodo è obbligatorio!
                  </span>
                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-label" for="descrizione"
                    >Descrizione *</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="descrizione"
                      formControlName="descrizione"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-text-paragraph"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      modifyForm.get('descrizione')?.hasError('required') &&
                      submitted
                    "
                  >
                    Descrizione è obbligatoria!
                  </span>
                  <span
                  class="custom-error"
                  *ngIf="
                    modifyForm.get('descrizione')?.hasError('minlength') &&
                    submitted
                  "
                >
                  Descrizione deve avere più di 3 caratteri!
                </span>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label" for="tipoSpesa">Tipo Spesa *</label>
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="tipoSpesa"
                      formControlName="tipoSpesa"
                    >
                      <option value="">Seleziona tipo</option>
                      <option
                        *ngFor="let tipo of tipiSpesaOptions"
                        [value]="tipo.value"
                      >
                        {{ tipo.label }}
                      </option>
                    </select>
                    <span class="input-group-text">
                      <i class="bi bi-list"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      modifyForm.get('tipoSpesa')?.hasError('required') &&
                      submitted
                    "
                  >
                    Tipo spesa è obbligatorio!
                  </span>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label" for="importoPreventivo"
                    >Importo Preventivo *</label
                  >
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="importoPreventivo"
                      formControlName="importoPreventivo"
                      min="0"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-currency-euro"></i>
                    </span>
                  </div>
                  <span
                    class="custom-error"
                    *ngIf="
                      modifyForm
                        .get('importoPreventivo')
                        ?.hasError('required') && submitted
                    "
                  >
                    Importo preventivo è obbligatorio!
                  </span>
                  <span
                  class="custom-error"
                  *ngIf="
                    modifyForm
                      .get('importoPreventivo')
                      ?.hasError('min') && submitted
                  "
                >
                 L'importo preventivo deve essere un numero positivo.
                </span>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label" for="importoConsuntivo"
                    >Importo Consuntivo</label
                  >
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="importoConsuntivo"
                      formControlName="importoConsuntivo"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-currency-euro"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label" for="importoConguaglio"
                    >Importo Conguaglio</label
                  >
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="importoConguaglio"
                      formControlName="importoConguaglio"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-currency-euro"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-label" for="note">Note</label>
                  <div class="input-group">
                    <textarea
                      class="form-control"
                      id="note"
                      formControlName="note"
                      rows="3"
                    ></textarea>
                    <span class="input-group-text">
                      <i class="bi bi-chat-text"></i>
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-light">
                <h4 class="mb-0">Unità Disponibili</h4>
              </div>
              <div class="card-body">
                <div class="units-container">
                  <div
                    *ngIf="unitaDisponibili.length === 0"
                    class="text-center text-muted"
                  >
                    Nessuna Unità Disponibile
                  </div>

                  <div class="unit-item" *ngFor="let unita of unitaDisponibili">
                    <div class="unit-content">
                      <div class="unit-description">
                        <label class="form-label">Descrizione</label>
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            [value]="unita.descrizione"
                            readonly
                          />
                          <span class="input-group-text">
                            <i class="bi bi-building"></i>
                          </span>
                        </div>
                      </div>

                      <div class="unit-millesimi mt-2">
                        <label class="form-label">Millesimi</label>
                        <div class="input-group">
                          <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="unita.millesimi"
                            [ngModelOptions]="{ standalone: true }"
                            step="0.01"
                          />
                          <span class="input-group-text">
                            <i class="bi bi-currency-euro"></i>
                          </span>
                        </div>
                      </div>

                      <div class="text-end mt-2">
                        <button
                          type="button"
                          class="btn btn-outline-primary"
                          (click)="onAddQuota(unita)"
                        >
                          <i class="bi bi-plus-circle me-1"></i>
                          Aggiungi quota
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-light">
                <h4 class="mb-0">Quote</h4>
              </div>
              <div class="card-body">
                <div class="quotes-container">
                  <div
                    *ngIf="quote.length === 0"
                    class="text-center text-muted"
                  >
                    Nessuna Quota
                  </div>

                  <div class="quote-item" *ngFor="let quota of quote">
                    <div class="quote-content">
                      <div class="quote-millesimi">
                        <label class="form-label">Millesimi</label>
                        <div class="input-group">
                          <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="quota.millesimi"
                            [ngModelOptions]="{ standalone: true }"
                            step="0.01"
                          />
                          <span class="input-group-text">
                            <!-- <i class="bi bi-currency-euro"></i> -->
                          </span>
                        </div>
                      </div>

                      <div class="text-end mt-2">
                        <button
                          type="button"
                          class="btn btn-outline-primary me-2"
                          (click)="editQuota(quota)"
                        >
                          <i class="bi bi-pencil me-1"></i>
                          Modifica quota
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-danger"
                          (click)="deleteQuota(quota)"
                        >
                          <i class="bi bi-trash3"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5 d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-primary py-2"
              (click)="indietro()"
            >
              <i
                class="bi bi-arrow-left me-1"
                style="vertical-align: middle"
              ></i>
              Indietro
            </button>

            <div>
              <button type="submit" class="btn btn-primary py-2">Salva</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  [class.show]="showDeleteModal"
  [style.display]="showDeleteModal ? 'block' : 'none'"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  [attr.aria-hidden]="!showDeleteModal"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>
          Conferma eliminazione
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDeleteModal()"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-0">
          Sei sicuro di voler eliminare questa quota? Questa azione non può
          essere annullata.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closeDeleteModal()"
        >
          <i class="bi bi-x-circle me-2"></i>
          Annulla
        </button>
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">
          <i class="bi bi-check-circle me-2"></i>
          Conferma
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal-backdrop fade"
  [class.show]="showDeleteModal"
  [style.display]="showDeleteModal ? 'block' : 'none'"
></div>
