
<div
  class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3"
  aria-live="polite"
  aria-atomic="false"
>
  <div
    *ngFor="let notification of notifications$ | async"
    class="toast fade show mb-2"
    [attr.role]="notification.type === 'error' ? 'alert' : 'status'"
    [attr.aria-live]="notification.type === 'error' ? 'assertive' : 'polite'"
  >
    <div class="d-flex" [ngClass]="{
      'with-icon-success': notification.type === 'success',
      'with-icon-error': notification.type === 'error'
    }">
      <div class="toast-body">
        <span class="content">
          <svg class="icon" aria-hidden="true" focusable="false" [ngClass]="notification.type === 'success' ? 'text-success' : 'text-danger'">
            <use [attr.href]="'/assets/svg/sprites.svg#' + (notification.type === 'success' ? 'it-check-circle' : 'it-close-circle')"></use>
          </svg>
          <span class="visually-hidden">{{ notification.type === 'success' ? 'Successo:' : 'Errore:' }}</span>
         <p class="mb-0 ps-2"> {{ notification.message }}</p>
        </span>

      </div>
      <button type="button" class="btn-close me-2 m-auto" (click)="remove(notification)" aria-label="Chiudi notifica"></button>
       </div>

  </div>
</div>
